<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.model.dao.ConfigMapper">

<!-- Result Map-->
<resultMap id="ConfigResultMap" type="com.jing.system.model.entity.Config">
	<id column="property_id" property="propertyId"/>
	<result column="property_code" property="propertyCode"/>
	<result column="property_value" property="propertyValue"/>
	<result column="property_note" property="propertyNote"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_config_item">
	property_id, property_code, property_value, property_note, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_config_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="config.propertyId != null">AND property_id = #{config.propertyId} </if>
		<if test="config.propertyCode != null">AND property_code like concat(#{config.propertyCode}, '%') </if>
		<if test="config.propertyValue != null">AND property_value like concat(#{config.propertyValue}, '%') </if>
		<if test="config.propertyNote != null">AND property_note like concat(#{config.propertyNote}, '%') </if>
		<if test="config.createdBy != null">AND created_by like concat(#{config.createdBy}, '%') </if>
		<if test="config.updatedBy != null">AND updated_by like concat(#{config.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 系统配置 -->
<insert id="addConfig" parameterType="com.jing.system.model.entity.Config" >
	<selectKey keyProperty="propertyId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO ts_config 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="propertyId != null"> property_id,</if>
		<if test="propertyCode != null"> property_code,</if>
		<if test="propertyValue != null"> property_value,</if>
		<if test="propertyNote != null"> property_note,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="propertyId != null"> #{propertyId},</if>
		<if test="propertyCode != null"> #{propertyCode},</if>
		<if test="propertyValue != null"> #{propertyValue},</if>
		<if test="propertyNote != null"> #{propertyNote},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 系统配置 -->  
<update id="modifyConfig" parameterType="com.jing.system.model.entity.Config" >
  	UPDATE ts_config SET
	<trim suffixOverrides=",">
		<if test="propertyCode != null"> property_code = #{propertyCode},</if>
		<if test="propertyValue != null"> property_value = #{propertyValue},</if>
		<if test="propertyNote != null"> property_note = #{propertyNote},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE property_id = #{propertyId}
</update>
 
<!-- 删除 系统配置 -->
<delete id="dropConfigByPropertyId" parameterType="java.lang.Integer">
	DELETE FROM ts_config WHERE property_id = #{propertyId}
</delete> 

<!-- 根据标识查询 系统配置 -->
<select id="queryConfigByPropertyId"  resultMap="ConfigResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_config_item"/>
	FROM ts_config WHERE property_id = #{propertyId}
</select>

<!-- 根据属性查询系统配置 -->
<select id="queryConfigByProperty"  resultMap="ConfigResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_config_item"/>
	FROM ts_config 
	<where>
		<include refid="sql_config_query_nowhere"/>
	</where>
</select>

<!-- 根据系统配置属性与分页信息分页查询系统配置信息 -->
<select id="queryConfigForPage"  resultMap="ConfigResultMap" > 
	SELECT 
	<include refid="sql_config_item"/>
	FROM ts_config 
	<where>
		<include refid="sql_config_query_nowhere"/>
	</where>
</select>

</mapper>   
