<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.model.dao.DocumentInfoMapper">

<!-- Result Map-->
<resultMap id="DocumentInfoResultMap" type="com.jing.system.model.entity.DocumentInfo">
	<id column="doc_id" property="docId"/>
	<result column="doc_name" property="docName"/>
	<result column="actual_name" property="actualName"/>
	<result column="suffix_name" property="suffixName"/>
	<result column="file_size" property="fileSize"/>
	<result column="status" property="status"/>
	<result column="url" property="url"/>
	<result column="note" property="note"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_documentInfo_item">
	doc_id, doc_name, actual_name, suffix_name, file_size, status, url, note, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_documentInfo_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="documentInfo.docId != null">AND doc_id like concat(#{documentInfo.docId}, '%') </if>
		<if test="documentInfo.docName != null">AND doc_name like concat(#{documentInfo.docName}, '%') </if>
		<if test="documentInfo.actualName != null">AND actual_name like concat(#{documentInfo.actualName}, '%') </if>
		<if test="documentInfo.suffixName != null">AND suffix_name like concat(#{documentInfo.suffixName}, '%') </if>
		<if test="documentInfo.fileSize != null">AND file_size like concat(#{documentInfo.fileSize}, '%') </if>
		<if test="documentInfo.status != null">AND status like concat(#{documentInfo.status}, '%') </if>
		<if test="documentInfo.url != null">AND url = #{documentInfo.url} </if>
		<if test="documentInfo.note != null">AND note like concat(#{documentInfo.note}, '%') </if>
		<if test="documentInfo.createdBy != null">AND created_by like concat(#{documentInfo.createdBy}, '%') </if>
		<if test="documentInfo.updatedBy != null">AND updated_by like concat(#{documentInfo.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 文档 -->
<insert id="addDocumentInfo" parameterType="com.jing.system.model.entity.DocumentInfo" >
 	INSERT INTO ts_document_info 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="docId != null"> doc_id,</if>
		<if test="docName != null"> doc_name,</if>
		<if test="actualName != null"> actual_name,</if>
		<if test="suffixName != null"> suffix_name,</if>
		<if test="fileSize != null"> file_size,</if>
		<if test="status != null"> status,</if>
		<if test="url != null"> url,</if>
		<if test="note != null"> note,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="docId != null"> #{docId},</if>
		<if test="docName != null"> #{docName},</if>
		<if test="actualName != null"> #{actualName},</if>
		<if test="suffixName != null"> #{suffixName},</if>
		<if test="fileSize != null"> #{fileSize},</if>
		<if test="status != null"> #{status},</if>
		<if test="url != null"> #{url},</if>
		<if test="note != null"> #{note},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 文档 -->  
<update id="modifyDocumentInfo" parameterType="com.jing.system.model.entity.DocumentInfo" >
  	UPDATE ts_document_info SET
	<trim suffixOverrides=",">
		<if test="docName != null"> doc_name = #{docName},</if>
		<if test="actualName != null"> actual_name = #{actualName},</if>
		<if test="suffixName != null"> suffix_name = #{suffixName},</if>
		<if test="fileSize != null"> file_size = #{fileSize},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="url != null"> url = #{url},</if>
		<if test="note != null"> note = #{note},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE doc_id = #{docId}
</update>
 
<!-- 删除 文档 -->
<delete id="dropDocumentInfoByDocId" parameterType="java.lang.String">
	DELETE FROM ts_document_info WHERE doc_id = #{docId}
</delete> 

<!-- 根据标识查询 文档 -->
<select id="queryDocumentInfoByDocId"  resultMap="DocumentInfoResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_documentInfo_item"/>
	FROM ts_document_info WHERE doc_id = #{docId}
</select>

<!-- 根据属性查询文档 -->
<select id="queryDocumentInfoByProperty"  resultMap="DocumentInfoResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_documentInfo_item"/>
	FROM ts_document_info 
	<where>
		<include refid="sql_documentInfo_query_nowhere"/>
	</where>
</select>

<!-- 根据文档属性与分页信息分页查询文档信息 -->
<select id="queryDocumentInfoForPage"  resultMap="DocumentInfoResultMap" > 
	SELECT 
	<include refid="sql_documentInfo_item"/>
	FROM ts_document_info 
	<where>
		<include refid="sql_documentInfo_query_nowhere"/>
	</where>
</select>

</mapper>   
