<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.model.dao.LogMapper">

<!-- Result Map-->
<resultMap id="LogResultMap" type="com.jing.system.model.entity.Log">
	<id column="log_id" property="logId"/>
	<result column="user_id" property="userId"/>
	<result column="user_ip" property="userIp"/>
	<result column="oper" property="oper"/>
	<result column="oper_ua" property="operUa"/>
	<result column="oper_type" property="operType"/>
	<result column="oper_status" property="operStatus"/>
	<result column="request" property="request"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_log_item">
	log_id, user_id, user_ip, oper, oper_ua, oper_type, oper_status, request, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_log_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="log.logId != null">AND log_id = #{log.logId} </if>
		<if test="log.userId != null">AND user_id like concat(#{log.userId}, '%') </if>
		<if test="log.userIp != null">AND user_ip like concat(#{log.userIp}, '%') </if>
		<if test="log.oper != null">AND oper like concat(#{log.oper}, '%') </if>
		<if test="log.operUa != null">AND oper_ua like concat(#{log.operUa}, '%') </if>
		<if test="log.operType != null">AND oper_type like concat(#{log.operType}, '%') </if>
		<if test="log.operStatus != null">AND oper_status = #{log.operStatus} </if>
		<if test="log.request != null">AND request like concat(#{log.request}, '%') </if>
		<if test="log.createdBy != null">AND created_by like concat(#{log.createdBy}, '%') </if>
		<if test="log.updatedBy != null">AND updated_by like concat(#{log.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 日志 -->
<insert id="addLog" parameterType="com.jing.system.model.entity.Log" >
	<selectKey keyProperty="logId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO ts_log 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="logId != null"> log_id,</if>
		<if test="userId != null"> user_id,</if>
		<if test="userIp != null"> user_ip,</if>
		<if test="oper != null"> oper,</if>
		<if test="operUa != null"> oper_ua,</if>
		<if test="operType != null"> oper_type,</if>
		<if test="operStatus != null"> oper_status,</if>
		<if test="request != null"> request,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="logId != null"> #{logId},</if>
		<if test="userId != null"> #{userId},</if>
		<if test="userIp != null"> #{userIp},</if>
		<if test="oper != null"> #{oper},</if>
		<if test="operUa != null"> #{operUa},</if>
		<if test="operType != null"> #{operType},</if>
		<if test="operStatus != null"> #{operStatus},</if>
		<if test="request != null"> #{request},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 日志 -->  
<update id="modifyLog" parameterType="com.jing.system.model.entity.Log" >
  	UPDATE ts_log SET
	<trim suffixOverrides=",">
		<if test="userId != null"> user_id = #{userId},</if>
		<if test="userIp != null"> user_ip = #{userIp},</if>
		<if test="oper != null"> oper = #{oper},</if>
		<if test="operUa != null"> oper_ua = #{operUa},</if>
		<if test="operType != null"> oper_type = #{operType},</if>
		<if test="operStatus != null"> oper_status = #{operStatus},</if>
		<if test="request != null"> request = #{request},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE log_id = #{logId}
</update>
 
<!-- 删除 日志 -->
<delete id="dropLogByLogId" parameterType="java.lang.Integer">
	DELETE FROM ts_log WHERE log_id = #{logId}
</delete> 

<!-- 根据标识查询 日志 -->
<select id="queryLogByLogId"  resultMap="LogResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_log_item"/>
	FROM ts_log WHERE log_id = #{logId}
</select>

<!-- 根据属性查询日志 -->
<select id="queryLogByProperty"  resultMap="LogResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_log_item"/>
	FROM ts_log 
	<where>
		<include refid="sql_log_query_nowhere"/>
	</where>
</select>

<!-- 根据日志属性与分页信息分页查询日志信息 -->
<select id="queryLogForPage"  resultMap="LogResultMap" > 
	SELECT 
	<include refid="sql_log_item"/>
	FROM ts_log 
	<where>
		<include refid="sql_log_query_nowhere"/>
	</where>
</select>

</mapper>   
