<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.model.dao.ResourceInfoMapper">

<!-- Result Map-->
<resultMap id="ResourceInfoResultMap" type="com.jing.system.model.entity.ResourceInfo">
	<id column="resource_id" property="resourceId"/>
	<result column="title" property="title"/>
	<result column="type" property="type"/>
	<result column="url" property="url"/>
	<result column="image" property="image"/>
	<result column="parent_id" property="parentId"/>
	<result column="is_display" property="isDisplay"/>
	<result column="sequence" property="sequence"/>
	<result column="enabled" property="enabled"/>
	<result column="note" property="note"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_resourceInfo_item">
	resource_id, title, type, url, image, parent_id, is_display, sequence, enabled, note, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_resourceInfo_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="resourceInfo.resourceId != null">AND resource_id = #{resourceInfo.resourceId} </if>
		<if test="resourceInfo.title != null">AND title like concat(#{resourceInfo.title}, '%') </if>
		<if test="resourceInfo.type != null">AND type like concat(#{resourceInfo.type}, '%') </if>
		<if test="resourceInfo.url != null">AND url like concat(#{resourceInfo.url}, '%') </if>
		<if test="resourceInfo.image != null">AND image like concat(#{resourceInfo.image}, '%') </if>
		<if test="resourceInfo.parentId != null">AND parent_id = #{resourceInfo.parentId} </if>
		<if test="resourceInfo.isDisplay != null">AND is_display = #{resourceInfo.isDisplay} </if>
		<if test="resourceInfo.sequence != null">AND sequence = #{resourceInfo.sequence} </if>
		<if test="resourceInfo.enabled != null">AND enabled = #{resourceInfo.enabled} </if>
		<if test="resourceInfo.note != null">AND note like concat(#{resourceInfo.note}, '%') </if>
		<if test="resourceInfo.createdBy != null">AND created_by like concat(#{resourceInfo.createdBy}, '%') </if>
		<if test="resourceInfo.updatedBy != null">AND updated_by like concat(#{resourceInfo.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 资源菜单 -->
<insert id="addResourceInfo" parameterType="com.jing.system.model.entity.ResourceInfo" >
	<selectKey keyProperty="resourceId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO ts_resource_info 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="resourceId != null"> resource_id,</if>
		<if test="title != null"> title,</if>
		<if test="type != null"> type,</if>
		<if test="url != null"> url,</if>
		<if test="image != null"> image,</if>
		<if test="parentId != null"> parent_id,</if>
		<if test="isDisplay != null"> is_display,</if>
		<if test="sequence != null"> sequence,</if>
		<if test="enabled != null"> enabled,</if>
		<if test="note != null"> note,</if>
		<if test="createdBy != null"> created_by,</if>
		<if test="createdDate != null"> created_date,</if>
		<if test="updatedBy != null"> updated_by,</if>
		<if test="updatedDate != null"> updated_date,</if>
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="resourceId != null"> #{resourceId},</if>	
		<if test="title != null"> #{title},</if>	
		<if test="type != null"> #{type},</if>	
		<if test="url != null"> #{url},</if>	
		<if test="image != null"> #{image},</if>	
		<if test="parentId != null"> #{parentId},</if>	
		<if test="isDisplay != null"> #{isDisplay},</if>	
		<if test="sequence != null"> #{sequence},</if>	
		<if test="enabled != null"> #{enabled},</if>	
		<if test="note != null"> #{note},</if>	
		<if test="createdBy != null"> #{createdBy},</if>	
		<if test="createdDate != null"> #{createdDate},</if>	
		<if test="updatedBy != null"> #{updatedBy},</if>	
		<if test="updatedDate != null"> #{updatedDate},</if>	
	</trim>
</insert>

<!-- 根据标识，修改 资源菜单 -->  
<update id="modifyResourceInfo" parameterType="com.jing.system.model.entity.ResourceInfo" >
  	UPDATE ts_resource_info SET
	<trim suffixOverrides=",">
		<if test="title != null"> title = #{title},</if>
		<if test="type != null"> type = #{type},</if>
		<if test="url != null"> url = #{url},</if>
		<if test="image != null"> image = #{image},</if>
		<if test="parentId != null"> parent_id = #{parentId},</if>
		<if test="isDisplay != null"> is_display = #{isDisplay},</if>
		<if test="sequence != null"> sequence = #{sequence},</if>
		<if test="enabled != null"> enabled = #{enabled},</if>
		<if test="note != null"> note = #{note},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="createdDate != null"> created_date = #{createdDate},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		<if test="updatedDate != null"> updated_date = #{updatedDate},</if>
	</trim>
	WHERE resource_id = #{resourceId}
</update>
 
<!-- 删除 资源菜单 -->
<delete id="dropResourceInfoByResourceId" parameterType="java.lang.Integer">
	DELETE FROM ts_resource_info WHERE resource_id = #{resourceId}
</delete> 

<!-- 根据标识查询 资源菜单 -->
<select id="queryResourceInfoByResourceId"  resultMap="ResourceInfoResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_resourceInfo_item"/>
	FROM ts_resource_info WHERE resource_id = #{resourceId}
</select>

<!-- 根据属性查询资源菜单 -->
<select id="queryResourceInfoByProperty"  resultMap="ResourceInfoResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_resourceInfo_item"/>
	FROM ts_resource_info 
	<where>
		<include refid="sql_resourceInfo_query_nowhere"/>
	</where>
</select>

<!-- 根据资源菜单属性与分页信息分页查询资源菜单信息 -->
<select id="queryResourceInfoForPage"  resultMap="ResourceInfoResultMap" > 
	SELECT 
	<include refid="sql_resourceInfo_item"/>
	FROM ts_resource_info 
	<where>
		<include refid="sql_resourceInfo_query_nowhere"/>
	</where>
</select>

</mapper>   
