<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.model.dao.UserMapper">

<!-- Result Map-->
<resultMap id="UserResultMap" type="com.jing.system.model.entity.User">
	<id column="user_id" property="userId"/>
	<result column="user_name" property="userName"/>
	<result column="team_id" property="teamId"/>
	<result column="nick_name" property="nickName"/>
	<result column="mobile" property="mobile"/>
	<result column="email" property="email"/>
	<result column="password" property="password"/>
	<result column="repassword_date" property="repasswordDate"/>
	<result column="status" property="status"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_user_item">
	user_id, user_name, team_id, nick_name, mobile, email, password, repassword_date, status, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_user_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="user.userId != null">AND user_id = #{user.userId} </if>
		<if test="user.userName != null">AND user_name like concat(#{user.userName}, '%') </if>
		<if test="user.teamId != null">AND team_id = #{user.teamId} </if>
		<if test="user.nickName != null">AND nick_name like concat(#{user.nickName}, '%') </if>
		<if test="user.mobile != null">AND mobile like concat(#{user.mobile}, '%') </if>
		<if test="user.email != null">AND email like concat(#{user.email}, '%') </if>
		<if test="user.password != null">AND password like concat(#{user.password}, '%') </if>
		<if test="user.status != null">AND status = #{user.status} </if>
		<if test="user.createdBy != null">AND created_by like concat(#{user.createdBy}, '%') </if>
		<if test="user.updatedBy != null">AND updated_by like concat(#{user.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 用户 -->
<insert id="addUser" parameterType="com.jing.system.model.entity.User" >
	<selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO ts_user 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="userId != null"> user_id,</if>
		<if test="userName != null"> user_name,</if>
		<if test="teamId != null"> team_id,</if>
		<if test="nickName != null"> nick_name,</if>
		<if test="mobile != null"> mobile,</if>
		<if test="email != null"> email,</if>
		<if test="password != null"> password,</if>
		<if test="repasswordDate != null"> repassword_date,</if>
		<if test="status != null"> status,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="userId != null"> #{userId},</if>
		<if test="userName != null"> #{userName},</if>
		<if test="teamId != null"> #{teamId},</if>
		<if test="nickName != null"> #{nickName},</if>
		<if test="mobile != null"> #{mobile},</if>
		<if test="email != null"> #{email},</if>
		<if test="password != null"> #{password},</if>
		<if test="repasswordDate != null"> #{repasswordDate},</if>
		<if test="status != null"> #{status},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 用户 -->  
<update id="modifyUser" parameterType="com.jing.system.model.entity.User" >
  	UPDATE ts_user SET
	<trim suffixOverrides=",">
		<if test="userName != null"> user_name = #{userName},</if>
		<if test="teamId != null"> team_id = #{teamId},</if>
		<if test="nickName != null"> nick_name = #{nickName},</if>
		<if test="mobile != null"> mobile = #{mobile},</if>
		<if test="email != null"> email = #{email},</if>
		<if test="password != null"> password = #{password},</if>
		<if test="repasswordDate != null"> repassword_date = #{repasswordDate},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE user_id = #{userId}
</update>
 
<!-- 删除 用户 -->
<delete id="dropUserByUserId" parameterType="java.lang.Integer">
	DELETE FROM ts_user WHERE user_id = #{userId}
</delete> 

<!-- 根据标识查询 用户 -->
<select id="queryUserByUserId"  resultMap="UserResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_user_item"/>
	FROM ts_user WHERE user_id = #{userId}
</select>

<!-- 根据属性查询用户 -->
<select id="queryUserByProperty"  resultMap="UserResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_user_item"/>
	FROM ts_user 
	<where>
		<include refid="sql_user_query_nowhere"/>
	</where>
</select>

<!-- 根据用户属性与分页信息分页查询用户信息 -->
<select id="queryUserForPage"  resultMap="UserResultMap" > 
	SELECT 
	<include refid="sql_user_item"/>
	FROM ts_user 
	<where>
		<include refid="sql_user_query_nowhere"/>
	</where>
</select>


<select id="userLogin"  resultMap="UserResultMap" parameterType="com.jing.system.user.model.entity.User">
	SELECT 
	<include refid="sql_user_item"/>
	FROM ts_user 
	WHERE  user_name = #{userName}
	and password = #{password}
	and enabled=1
	and status=1
</select>

<!-- 根据账户查询 用户 -->
<select id="queryUserByUsername"  resultMap="UserResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_user_item"/>
	FROM ts_user WHERE user_name = #{user_name}
</select>

</mapper>   
