<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.user.dao.DbLoginDao">

	<!-- Result Map -->
	<resultMap id="UserResultMap" type="com.jing.system.user.entity.User">
		<id column="userId" property="userId" />
		<result column="userName" property="userName" />
	<!-- <result column="password" property="password" /> -->	
		<result column="nickName" property="nickName" />
		<result column="status" property="status" />
		<result column="loginStatus" property="loginStatus" />
		<result column="clintId" property="clintId" />
	</resultMap>
	
	<select id="login" resultMap="UserResultMap">
		SELECT userId,userName,nickName,status,loginStatus,clintId FROM sys_user where userName=#{userName} and password=#{password} and status=1
	</select>
	
	<select id="getUserDetailByName" resultMap="UserResultMap">
		SELECT userId,userName,nickName,status,loginStatus,clintId FROM sys_user where userName=#{userName}
	</select>
	
</mapper>