<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.attendance.model.dao.AttendanceDetailMapper">

<!-- Result Map-->
<resultMap id="AttendanceDetailResultMap" type="com.jing.attendance.model.entity.AttendanceDetail">
	<id column="att_id" property="attId"/>
	<result column="attendance_id" property="attendanceId"/>
	<result column="weekday" property="weekday"/>
	<result column="att_date" property="attDate"/>
	<result column="att_month" property="attMonth"/>
	<result column="att_day" property="attDay"/>
	<result column="time_id" property="timeId"/>
	<result column="sign_time" property="signTime"/>
	<result column="out_time" property="outTime"/>
	<result column="attendance" property="attendance"/>
	<result column="editable" property="editable"/>	
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_attendanceDetail_item">
	att_id, attendance_id, weekday, att_date, att_month, att_day, attendance, time_id, sign_time, out_time, editable, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_attendanceDetail_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="attendanceDetail.attId != null">AND att_id = #{attendanceDetail.attId} </if>
		<if test="attendanceDetail.timeId != null">AND time_id = #{attendanceDetail.timeId} </if>
		<if test="attendanceDetail.attendanceId != null">AND attendance_id = #{attendanceDetail.attendanceId} </if>
		<if test="attendanceDetail.weekday != null">AND weekday = #{attendanceDetail.weekday} </if>
		<if test="attendanceDetail.attMonth != null">AND att_month like concat(#{attendanceDetail.attMonth}, '%') </if>
		<if test="attendanceDetail.attDay != null">AND att_day = #{attendanceDetail.attDay} </if>
		<if test="attendanceDetail.attendance != null">AND attendance = #{attendanceDetail.attendance} </if>
		<if test="attendanceDetail.editable != null">AND editable = #{attendanceDetail.editable} </if>		
		<if test="attendanceDetail.createdBy != null">AND created_by like concat(#{attendanceDetail.createdBy}, '%') </if>
		<if test="attendanceDetail.updatedBy != null">AND updated_by like concat(#{attendanceDetail.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 门店考勤详情 -->
<insert id="addAttendanceDetail" parameterType="com.jing.attendance.model.entity.AttendanceDetail" >
	<selectKey keyProperty="attId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tw_attendance_detail 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="attId != null"> att_id,</if>
		<if test="attendanceId != null"> attendance_id,</if>
		<if test="weekday != null"> weekday,</if>
		<if test="attDate != null"> att_date,</if>
		<if test="attMonth != null"> att_month,</if>
		<if test="attDay != null"> att_day,</if>
		<if test="attendance != null"> attendance,</if>
		<if test="timeId != null"> time_id,</if>
		<if test="signTime != null"> sign_time,</if>
		<if test="outTime != null"> out_time,</if>
		<if test="editable != null"> editable,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="attId != null"> #{attId},</if>
		<if test="attendanceId != null"> #{attendanceId},</if>
		<if test="weekday != null"> #{weekday},</if>
		<if test="attDate != null"> #{attDate},</if>
		<if test="attMonth != null"> #{attMonth},</if>
		<if test="attDay != null"> #{attDay},</if>
		<if test="attendance != null"> #{attendance},</if>
		<if test="timeId != null"> #{timeId},</if>
		<if test="signTime != null"> #{signTime},</if>
		<if test="outTime != null"> #{outTime},</if>
		<if test="editable != null"> #{editable},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 门店考勤详情 -->  
<update id="modifyAttendanceDetail" parameterType="com.jing.attendance.model.entity.AttendanceDetail" >
  	UPDATE tw_attendance_detail SET
	<trim suffixOverrides=",">
		<if test="attendanceId != null"> attendance_id = #{attendanceId},</if>
		<if test="weekday != null"> weekday = #{weekday},</if>
		<if test="attDate != null"> att_date = #{attDate},</if>
		<if test="attMonth != null"> att_month = #{attMonth},</if>
		<if test="attDay != null"> att_day = #{attDay},</if>
		<if test="attendance != null"> attendance = #{attendance},</if>
		<if test="timeId != null"> time_id=#{timeId},</if>
		<if test="signTime != null"> sign_time=#{signTime},</if>
		<if test="outTime != null"> out_time=#{outTime},</if>
		<if test="editable != null"> editable=#{editable},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE att_id = #{attId}
</update>

<!-- 锁定当天考勤详情，不允许更改 -->
<update id="disableDetailEditable">
	update tw_attendance_detail set editable=1 where editable=0 and att_date &lt;=DATE_FORMAT(NOW(),'%Y-%m-%d')
</update>

<!-- 更新考勤规则时间段变更引起的考勤详情变更 -->
<update id="modifyAttendanceDetailChange" parameterType="com.jing.attendance.model.entity.AttendanceDetail">
	update tw_attendance_detail  set 
	<if test="params.timeId != null">time_id= #{params.timeId} ,</if>
	<if test="params.timeId == null">time_id=null,</if>
	sign_time=str_to_date(concat(DATE_FORMAT(att_date, '%Y-%m-%d'),' ', #{params.signTime}) , '%Y-%m-%d %H:%i:%s'),
	out_time= str_to_date(concat(DATE_FORMAT(att_date, '%Y-%m-%d'),' ', #{params.outTime}) , '%Y-%m-%d %H:%i:%s'), updated_date=now()
	where attendance_id=#{params.attendanceId}
	<if test="params.oldTimeId != null"> and time_id= #{params.oldTimeId} </if>
	 and att_date>now() and editable=0 
</update>

<!-- 处理考勤结束时间早于开始时间的情况 -->
<update id="modifyOutTimeBefore">
	update tw_attendance_detail set 
	set out_time = date_add(out_time, INTERVAL  1 DAY) 
	where att_date>now() and editable=0 and out_time &lt;= sign_time 
</update>
 
<!-- 删除 门店考勤详情 -->
<delete id="dropAttendanceDetailByAttId" parameterType="java.lang.Integer">
	DELETE FROM tw_attendance_detail WHERE att_id = #{attId}
</delete> 
<delete id="dropAttendanceDetailByAttendanceId" parameterType="java.lang.Integer">
	DELETE FROM tw_attendance_detail WHERE attendance_id = #{attendanceId}
</delete> 

<!-- 根据标识查询 门店考勤详情 -->
<select id="queryAttendanceDetailByAttId"  resultMap="AttendanceDetailResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_attendanceDetail_item"/>
	FROM tw_attendance_detail WHERE att_id = #{attId}
</select>

<!-- 根据属性查询门店考勤详情 -->
<select id="queryAttendanceDetailByProperty"  resultMap="AttendanceDetailResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_attendanceDetail_item"/>
	FROM tw_attendance_detail 
	<where>
		<include refid="sql_attendanceDetail_query_nowhere"/>
	</where>
</select>

<!-- 根据门店考勤详情属性与分页信息分页查询门店考勤详情信息 -->
<select id="queryAttendanceDetailForPage"  resultMap="AttendanceDetailResultMap" > 
	SELECT 
	<include refid="sql_attendanceDetail_item"/>
	FROM tw_attendance_detail 
	<where>
		<include refid="sql_attendanceDetail_query_nowhere"/>
	</where>
</select>

<!-- 查询考勤规则历史 -->
<select id="queryAttendanceDetailHistory" resultType="java.lang.String" parameterType="java.lang.Integer">
	select DISTINCT(att_month) as attMonth from tw_attendance_detail where attendance_id=#{attendanceId} order by att_date desc
</select>

</mapper>   
