<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.attendance.model.dao.EmployeeAttendMapper">

<!-- Result Map-->
<resultMap id="EmployeeAttendResultMap" type="com.jing.attendance.model.entity.EmployeeAttend">
	<id column="att_id" property="attId"/>
	<result column="employee_id" property="employeeId"/>
	<result column="att_time" property="attTime"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_employeeAttend_item">
	att_id, employee_id, att_time, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_employeeAttend_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="employeeAttend.attId != null">AND att_id = #{employeeAttend.attId} </if>
		<if test="employeeAttend.employeeId != null">AND employee_id like concat(#{employeeAttend.employeeId}, '%') </if>
		<if test="employeeAttend.createdBy != null">AND created_by like concat(#{employeeAttend.createdBy}, '%') </if>
		<if test="employeeAttend.updatedBy != null">AND updated_by like concat(#{employeeAttend.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 打卡记录 -->
<insert id="addEmployeeAttend" parameterType="com.jing.attendance.model.entity.EmployeeAttend" >
	<selectKey keyProperty="attId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tw_employee_attend 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="attId != null"> att_id,</if>
		<if test="employeeId != null"> employee_id,</if>
		<if test="attTime != null"> att_time,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="attId != null"> #{attId},</if>
		<if test="employeeId != null"> #{employeeId},</if>
		<if test="attTime != null"> #{attTime},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 打卡记录 -->  
<update id="modifyEmployeeAttend" parameterType="com.jing.attendance.model.entity.EmployeeAttend" >
  	UPDATE tw_employee_attend SET
	<trim suffixOverrides=",">
		<if test="employeeId != null"> employee_id = #{employeeId},</if>
		<if test="attTime != null"> att_time = #{attTime},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE att_id = #{attId}
</update>
 
<!-- 删除 打卡记录 -->
<delete id="dropEmployeeAttendByAttId" parameterType="java.lang.Integer">
	DELETE FROM tw_employee_attend WHERE att_id = #{attId}
</delete> 

<!-- 根据标识查询 打卡记录 -->
<select id="queryEmployeeAttendByAttId"  resultMap="EmployeeAttendResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_employeeAttend_item"/>
	FROM tw_employee_attend WHERE att_id = #{attId}
</select>

<!-- 根据属性查询打卡记录 -->
<select id="queryEmployeeAttendByProperty"  resultMap="EmployeeAttendResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_employeeAttend_item"/>
	FROM tw_employee_attend 
	<where>
		<include refid="sql_employeeAttend_query_nowhere"/>
	</where>
</select>

<!-- 根据打卡记录属性与分页信息分页查询打卡记录信息 -->
<select id="queryEmployeeAttendForPage"  resultMap="EmployeeAttendResultMap" > 
	SELECT 
	<include refid="sql_employeeAttend_item"/>
	FROM tw_employee_attend 
	<where>
		<include refid="sql_employeeAttend_query_nowhere"/>
	</where>
</select>

</mapper>   
