<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.DepartmentMapper">

<!-- Result Map-->
<resultMap id="DepartmentResultMap" type="com.jing.core.model.entity.Department">
	<id column="dpt_id" property="dptId"/>
	<result column="store_id" property="storeId"/>
	<result column="tream_id" property="treamId"/>
	<result column="dpt_name" property="dptName"/>
	<result column="dpt_no" property="dptNo"/>
	<result column="status" property="status"/>
	<result column="parent_id" property="parentId"/>
	<result column="duty_name" property="dutyName"/>
	<result column="duty_mobile" property="dutyMobile"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_department_item">
	dpt_id, store_id, tream_id, dpt_name, dpt_no, status, parent_id, duty_name, duty_mobile, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_department_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="department.dptId != null">AND dpt_id = #{department.dptId} </if>
		<if test="department.storeId != null">AND store_id like concat(#{department.storeId}, '%') </if>
		<if test="department.treamId != null">AND tream_id = #{department.treamId} </if>
		<if test="department.dptName != null">AND dpt_name like concat(#{department.dptName}, '%') </if>
		<if test="department.dptNo != null">AND dpt_no like concat(#{department.dptNo}, '%') </if>
		<if test="department.status != null">AND status = #{department.status} </if>
		<if test="department.parentId != null">AND parent_id = #{department.parentId} </if>
		<if test="department.dutyName != null">AND duty_name like concat(#{department.dutyName}, '%') </if>
		<if test="department.dutyMobile != null">AND duty_mobile like concat(#{department.dutyMobile}, '%') </if>
		<if test="department.createdBy != null">AND created_by like concat(#{department.createdBy}, '%') </if>
		<if test="department.updatedBy != null">AND updated_by like concat(#{department.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 部门 -->
<insert id="addDepartment" parameterType="com.jing.core.model.entity.Department" >
	<selectKey keyProperty="dptId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_department 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="dptId != null"> dpt_id,</if>
		<if test="storeId != null"> store_id,</if>
		<if test="treamId != null"> tream_id,</if>
		<if test="dptName != null"> dpt_name,</if>
		<if test="dptNo != null"> dpt_no,</if>
		<if test="status != null"> status,</if>
		<if test="parentId != null"> parent_id,</if>
		<if test="dutyName != null"> duty_name,</if>
		<if test="dutyMobile != null"> duty_mobile,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="dptId != null"> #{dptId},</if>
		<if test="storeId != null"> #{storeId},</if>
		<if test="treamId != null"> #{treamId},</if>
		<if test="dptName != null"> #{dptName},</if>
		<if test="dptNo != null"> #{dptNo},</if>
		<if test="status != null"> #{status},</if>
		<if test="parentId != null"> #{parentId},</if>
		<if test="dutyName != null"> #{dutyName},</if>
		<if test="dutyMobile != null"> #{dutyMobile},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 部门 -->  
<update id="modifyDepartment" parameterType="com.jing.core.model.entity.Department" >
  	UPDATE tb_department SET
	<trim suffixOverrides=",">
		<if test="storeId != null"> store_id = #{storeId},</if>
		<if test="treamId != null"> tream_id = #{treamId},</if>
		<if test="dptName != null"> dpt_name = #{dptName},</if>
		<if test="dptNo != null"> dpt_no = #{dptNo},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="parentId != null"> parent_id = #{parentId},</if>
		<if test="dutyName != null"> duty_name = #{dutyName},</if>
		<if test="dutyMobile != null"> duty_mobile = #{dutyMobile},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE dpt_id = #{dptId}
</update>
 
<!-- 删除 部门 -->
<delete id="dropDepartmentByDptId" parameterType="java.lang.Integer">
	DELETE FROM tb_department WHERE dpt_id = #{dptId}
</delete> 

<!-- 根据标识查询 部门 -->
<select id="queryDepartmentByDptId"  resultMap="DepartmentResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_department_item"/>
	FROM tb_department WHERE dpt_id = #{dptId}
</select>

<!-- 根据属性查询部门 -->
<select id="queryDepartmentByProperty"  resultMap="DepartmentResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_department_item"/>
	FROM tb_department 
	<where>
		<include refid="sql_department_query_nowhere"/>
	</where>
</select>

<!-- 根据部门属性与分页信息分页查询部门信息 -->
<select id="queryDepartmentForPage"  resultMap="DepartmentResultMap" > 
	SELECT 
	<include refid="sql_department_item"/>
	FROM tb_department 
	<where>
		<include refid="sql_department_query_nowhere"/>
	</where>
</select>

</mapper>   
