<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.EmployeeSpecialMapper">

<!-- Result Map-->
<resultMap id="EmployeeSpecialResultMap" type="com.jing.core.model.entity.EmployeeSpecial">
	<id column="emp_id" property="empId"/>
	<result column="emp_pwd" property="empPwd"/>
	<result column="credit_mount" property="creditMount"/>
	<result column="credit_left" property="creditLeft"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_employeeSpecial_item">
	emp_id, emp_pwd, credit_mount, credit_left, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_employeeSpecial_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="employeeSpecial.empId != null">AND emp_id like concat(#{employeeSpecial.empId}, '%') </if>
		<if test="employeeSpecial.empPwd != null">AND emp_pwd like concat(#{employeeSpecial.empPwd}, '%') </if>
		<if test="employeeSpecial.createdBy != null">AND created_by like concat(#{employeeSpecial.createdBy}, '%') </if>
		<if test="employeeSpecial.updatedBy != null">AND updated_by like concat(#{employeeSpecial.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 员工特殊权限(扩) -->
<insert id="addEmployeeSpecial" parameterType="com.jing.core.model.entity.EmployeeSpecial" >
 	INSERT INTO tb_employee_special 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="empId != null"> emp_id,</if>
		<if test="empPwd != null"> emp_pwd,</if>
		<if test="creditMount != null"> credit_mount,</if>
		<if test="creditLeft != null"> credit_left,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="empId != null"> #{empId},</if>
		<if test="empPwd != null"> #{empPwd},</if>
		<if test="creditMount != null"> #{creditMount},</if>
		<if test="creditLeft != null"> #{creditLeft},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 员工特殊权限(扩) -->  
<update id="modifyEmployeeSpecial" parameterType="com.jing.core.model.entity.EmployeeSpecial" >
  	UPDATE tb_employee_special SET
	<trim suffixOverrides=",">
		<if test="empPwd != null"> emp_pwd = #{empPwd},</if>
		<if test="creditMount != null"> credit_mount = #{creditMount},</if>
		<if test="creditLeft != null"> credit_left = #{creditLeft},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE emp_id = #{empId}
</update>
 
<!-- 删除 员工特殊权限(扩) -->
<delete id="dropEmployeeSpecialByEmpId" parameterType="java.lang.String">
	DELETE FROM tb_employee_special WHERE emp_id = #{empId}
</delete> 

<!-- 根据标识查询 员工特殊权限(扩) -->
<select id="queryEmployeeSpecialByEmpId"  resultMap="EmployeeSpecialResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_employeeSpecial_item"/>
	FROM tb_employee_special WHERE emp_id = #{empId}
</select>

<!-- 根据属性查询员工特殊权限(扩) -->
<select id="queryEmployeeSpecialByProperty"  resultMap="EmployeeSpecialResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_employeeSpecial_item"/>
	FROM tb_employee_special 
	<where>
		<include refid="sql_employeeSpecial_query_nowhere"/>
	</where>
</select>

<!-- 根据员工特殊权限(扩)属性与分页信息分页查询员工特殊权限(扩)信息 -->
<select id="queryEmployeeSpecialForPage"  resultMap="EmployeeSpecialResultMap" > 
	SELECT 
	<include refid="sql_employeeSpecial_item"/>
	FROM tb_employee_special 
	<where>
		<include refid="sql_employeeSpecial_query_nowhere"/>
	</where>
</select>

</mapper>   
