<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.MemberPlusMapper">

<!-- Result Map-->
<resultMap id="MemberPlusResultMap" type="com.jing.core.model.entity.MemberPlus">
	<id column="plus_id" property="plusId"/>
	<result column="plus_name" property="plusName"/>
	<result column="plus_money" property="plusMoney"/>
	<result column="gift_money" property="giftMoney"/>
	<result column="money" property="money"/>
	<result column="status" property="status"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_memberPlus_item">
	plus_id, plus_name, plus_money, gift_money, money, status, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_memberPlus_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="memberPlus.plusId != null">AND plus_id = #{memberPlus.plusId} </if>
		<if test="memberPlus.plusName != null">AND plus_name like concat(#{memberPlus.plusName}, '%') </if>
		<if test="memberPlus.status != null">AND status = #{memberPlus.status} </if>
		<if test="memberPlus.createdBy != null">AND created_by like concat(#{memberPlus.createdBy}, '%') </if>
		<if test="memberPlus.updatedBy != null">AND updated_by like concat(#{memberPlus.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 会员充值活动 -->
<insert id="addMemberPlus" parameterType="com.jing.core.model.entity.MemberPlus" >
	<selectKey keyProperty="plusId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_member_plus 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="plusId != null"> plus_id,</if>
		<if test="plusName != null"> plus_name,</if>
		<if test="plusMoney != null"> plus_money,</if>
		<if test="giftMoney != null"> gift_money,</if>
		<if test="money != null"> money,</if>
		<if test="status != null"> status,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="plusId != null"> #{plusId},</if>
		<if test="plusName != null"> #{plusName},</if>
		<if test="plusMoney != null"> #{plusMoney},</if>
		<if test="giftMoney != null"> #{giftMoney},</if>
		<if test="money != null"> #{money},</if>
		<if test="status != null"> #{status},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 会员充值活动 -->  
<update id="modifyMemberPlus" parameterType="com.jing.core.model.entity.MemberPlus" >
  	UPDATE tb_member_plus SET
	<trim suffixOverrides=",">
		<if test="plusName != null"> plus_name = #{plusName},</if>
		<if test="plusMoney != null"> plus_money = #{plusMoney},</if>
		<if test="giftMoney != null"> gift_money = #{giftMoney},</if>
		<if test="money != null"> money = #{money},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE plus_id = #{plusId}
</update>
 
<!-- 删除 会员充值活动 -->
<delete id="dropMemberPlusByPlusId" parameterType="java.lang.Integer">
	DELETE FROM tb_member_plus WHERE plus_id = #{plusId}
</delete> 

<!-- 根据标识查询 会员充值活动 -->
<select id="queryMemberPlusByPlusId"  resultMap="MemberPlusResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_memberPlus_item"/>
	FROM tb_member_plus WHERE plus_id = #{plusId}
</select>

<!-- 根据属性查询会员充值活动 -->
<select id="queryMemberPlusByProperty"  resultMap="MemberPlusResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_memberPlus_item"/>
	FROM tb_member_plus 
	<where>
		<include refid="sql_memberPlus_query_nowhere"/>
	</where>
</select>

<!-- 根据会员充值活动属性与分页信息分页查询会员充值活动信息 -->
<select id="queryMemberPlusForPage"  resultMap="MemberPlusResultMap" > 
	SELECT 
	<include refid="sql_memberPlus_item"/>
	FROM tb_member_plus 
	<where>
		<include refid="sql_memberPlus_query_nowhere"/>
	</where>
</select>

</mapper>   
