<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.MemberRecordMapper">

<!-- Result Map-->
<resultMap id="MemberRecordResultMap" type="com.jing.core.model.entity.MemberRecord">
	<id column="record_id" property="recordId"/>
	<result column="member_id" property="memberId"/>
	<result column="plus_id" property="plusId"/>
	<result column="plus_money" property="plusMoney"/>
	<result column="gift_money" property="giftMoney"/>
	<result column="employee_id" property="employeeId"/>
	<result column="money" property="money"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_memberRecord_item">
	record_id, member_id, plus_id, plus_money, gift_money, employee_id, money, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_memberRecord_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="memberRecord.recordId != null">AND record_id = #{memberRecord.recordId} </if>
		<if test="memberRecord.memberId != null">AND member_id like concat(#{memberRecord.memberId}, '%') </if>
		<if test="memberRecord.plusId != null">AND plus_id = #{memberRecord.plusId} </if>
		<if test="memberRecord.employeeId != null">AND employee_id like concat(#{memberRecord.employeeId}, '%') </if>
		<if test="memberRecord.createdBy != null">AND created_by like concat(#{memberRecord.createdBy}, '%') </if>
		<if test="memberRecord.updatedBy != null">AND updated_by like concat(#{memberRecord.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 会员充值记录 -->
<insert id="addMemberRecord" parameterType="com.jing.core.model.entity.MemberRecord" >
	<selectKey keyProperty="recordId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_member_record 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="recordId != null"> record_id,</if>
		<if test="memberId != null"> member_id,</if>
		<if test="plusId != null"> plus_id,</if>
		<if test="plusMoney != null"> plus_money,</if>
		<if test="giftMoney != null"> gift_money,</if>
		<if test="employeeId != null"> employee_id,</if>
		<if test="money != null"> money,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="recordId != null"> #{recordId},</if>
		<if test="memberId != null"> #{memberId},</if>
		<if test="plusId != null"> #{plusId},</if>
		<if test="plusMoney != null"> #{plusMoney},</if>
		<if test="giftMoney != null"> #{giftMoney},</if>
		<if test="employeeId != null"> #{employeeId},</if>
		<if test="money != null"> #{money},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 会员充值记录 -->  
<update id="modifyMemberRecord" parameterType="com.jing.core.model.entity.MemberRecord" >
  	UPDATE tb_member_record SET
	<trim suffixOverrides=",">
		<if test="memberId != null"> member_id = #{memberId},</if>
		<if test="plusId != null"> plus_id = #{plusId},</if>
		<if test="plusMoney != null"> plus_money = #{plusMoney},</if>
		<if test="giftMoney != null"> gift_money = #{giftMoney},</if>
		<if test="employeeId != null"> employee_id = #{employeeId},</if>
		<if test="money != null"> money = #{money},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE record_id = #{recordId}
</update>
 
<!-- 删除 会员充值记录 -->
<delete id="dropMemberRecordByRecordId" parameterType="java.lang.Integer">
	DELETE FROM tb_member_record WHERE record_id = #{recordId}
</delete> 

<!-- 根据标识查询 会员充值记录 -->
<select id="queryMemberRecordByRecordId"  resultMap="MemberRecordResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_memberRecord_item"/>
	FROM tb_member_record WHERE record_id = #{recordId}
</select>

<!-- 根据属性查询会员充值记录 -->
<select id="queryMemberRecordByProperty"  resultMap="MemberRecordResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_memberRecord_item"/>
	FROM tb_member_record 
	<where>
		<include refid="sql_memberRecord_query_nowhere"/>
	</where>
</select>

<!-- 根据会员充值记录属性与分页信息分页查询会员充值记录信息 -->
<select id="queryMemberRecordForPage"  resultMap="MemberRecordResultMap" > 
	SELECT 
	<include refid="sql_memberRecord_item"/>
	FROM tb_member_record 
	<where>
		<include refid="sql_memberRecord_query_nowhere"/>
	</where>
</select>

</mapper>   
