<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.MemberMapper">

	<!-- Result Map -->
	<resultMap id="MemberResultMap" type="com.jing.core.model.entity.Member">
		<id column="member_id" property="memberId" />
		<result column="member_name" property="memberName" />
		<result column="pinyin" property="pinyin" />
		<result column="status" property="status" />
		<result column="rfm" property="rfm" />
		<result column="level_id" property="levelId" />
		<result column="member_card" property="memberCard" />
		<result column="member_password" property="memberPassword" />
		<result column="integral" property="integral" />
		<result column="balance" property="balance" />
		<result column="mobile" property="mobile" />
		<result column="mail" property="mail" />
		<result column="birthday" property="birthday" />
		<result column="store_id" property="storeId" />
		<result column="total_fee" property="totalFee" />
		<result column="sex" property="sex" />
		<result column="address" property="address" />
		<result column="card_type" property="cardType" />
		<result column="card_no" property="cardNo" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="updated_by" property="updatedBy" />
		<result column="updated_date" property="updatedDate" />
	</resultMap>
	
	<sql id="query_tables_Property" >
		<where>
			<if test="param.memberId != null and param.memberId != ''">
				and member_id = #{param.memberId}
			</if>
			<if test="param.memberName != null and param.memberName != ''">
				and member_name = #{param.memberName}
			</if>
			<if test="param.pinyin != null and param.pinyin != ''">
				and pinyin = #{param.pinyin}
			</if>
			<if test="param.status != null and param.status != ''">
				and status = #{param.status}
			</if>
			<if test="param.rfm != null and param.rfm != ''">
				and rfm = #{param.rfm}
			</if>
			<if test="param.levelId != null and param.levelId != ''">
				and level_id = #{param.levelId}
			</if>
			<if test="param.memberCard != null and param.memberCard != ''">
				and member_card = #{param.memberCard}
			</if>
			<if test="param.memberPassword != null and param.memberPassword != ''">
				and member_password = #{param.memberPassword}
			</if>
			<if test="param.integral != null and param.integral != ''">
				and integral = #{param.integral}
			</if>
			<if test="param.balance != null and param.balance != ''">
				and balance = #{param.balance}
			</if>
			<if test="param.mobile != null and param.mobile != ''">
				and mobile = #{param.mobile}
			</if>
			<if test="param.mail != null and param.mail != ''">
				and mail = #{param.mail}
			</if>
			<if test="param.birthday != null and param.birthday != ''">
				and birthday = #{param.birthday}
			</if>
			<if test="param.storeId != null and param.storeId != ''">
				and store_id = #{param.storeId}
			</if>
			<if test="param.totalFee != null and param.totalFee != ''">
				and total_fee = #{param.totalFee}
			</if>
			<if test="param.sex != null and param.sex != ''">
				and sex = #{param.sex}
			</if>
			<if test="param.address != null and param.address != ''">
				and address = #{param.address}
			</if>
			<if test="param.cardType != null and param.cardType != ''">
				and card_type = #{param.cardType}
			</if>
			<if test="param.cardNo != null and param.cardNo != ''">
				and card_no = #{param.cardNo}
			</if>
			<if test="param.createdBy != null and param.createdBy != ''">
				and created_by = #{param.createdBy}
			</if>
			<if test="param.createdDate != null and param.createdDate != ''">
				and created_date = #{param.createdDate}
			</if>
			<if test="param.updatedBy != null and param.updatedBy != ''">
				and updated_by = #{param.updatedBy}
			</if>
			<if test="param.updatedDate != null and param.updatedDate != ''">
				and updated_date = #{param.updatedDate}
			</if>
		</where>
	</sql>

	<!-- 添加 会员 -->
	<insert id="addMember" parameterType="com.jing.core.model.entity.Member">
		INSERT INTO tb_member (member_id ,member_name ,pinyin ,status ,rfm ,level_id ,member_card ,member_password ,integral ,balance ,mobile ,mail ,birthday ,store_id ,total_fee ,sex ,address ,card_type ,card_no ,created_by ,created_date ,updated_by ,updated_date ) 
		values
		(#{memberId},#{memberName},#{pinyin},#{status},#{rfm},#{levelId},#{memberCard},#{memberPassword},#{integral},#{balance},#{mobile},#{mail},#{birthday},#{storeId},#{totalFee},#{sex},#{address},#{cardType},#{cardNo},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate})
	</insert>

	<!-- 修改会员 -->
	<update id="updateMember" parameterType="com.jing.core.model.entity.Member">
		UPDATE tb_member
		<set> 
			<if test="member_name != null" >
				member_name = #{memberName},
			</if>
			<if test="pinyin != null" >
				pinyin = #{pinyin},
			</if>
			<if test="status != null" >
				status = #{status},
			</if>
			<if test="rfm != null" >
				rfm = #{rfm},
			</if>
			<if test="level_id != null" >
				level_id = #{levelId},
			</if>
			<if test="member_card != null" >
				member_card = #{memberCard},
			</if>
			<if test="member_password != null" >
				member_password = #{memberPassword},
			</if>
			<if test="integral != null" >
				integral = #{integral},
			</if>
			<if test="balance != null" >
				balance = #{balance},
			</if>
			<if test="mobile != null" >
				mobile = #{mobile},
			</if>
			<if test="mail != null" >
				mail = #{mail},
			</if>
			<if test="birthday != null" >
				birthday = #{birthday},
			</if>
			<if test="store_id != null" >
				store_id = #{storeId},
			</if>
			<if test="total_fee != null" >
				total_fee = #{totalFee},
			</if>
			<if test="sex != null" >
				sex = #{sex},
			</if>
			<if test="address != null" >
				address = #{address},
			</if>
			<if test="card_type != null" >
				card_type = #{cardType},
			</if>
			<if test="card_no != null" >
				card_no = #{cardNo},
			</if>
			<if test="created_by != null" >
				created_by = #{createdBy},
			</if>
			<if test="created_date != null" >
				created_date = #{createdDate},
			</if>
			<if test="updated_by != null" >
				updated_by = #{updatedBy},
			</if>
			<if test="updated_date != null" >
				updated_date = #{updatedDate},
			</if>
		</set>
		WHERE	member_id = #{memberId}
	</update>
	
	<!-- 根据ID删除会员 -->
	<delete id="deleteMemberById"  parameterType="String">
		DELETE FROM tb_member WHERE member_id = #{value}
	</delete>
	
	<!-- 根据ID查询会员 -->
	<select id="getMemberById" resultMap="MemberResultMap" parameterType="String">
		SELECT * FROM tb_member WHERE member_id = #{value}
	</select>
	
	<select id="findMemberListPage" resultMap="MemberResultMap">
		SELECT * FROM tb_member
		<include refid="query_tables_Property" />
	</select>
	
	<select id="findMemberList" resultMap="MemberResultMap">
		SELECT * FROM tb_member
		<include refid="query_tables_Property" />
	</select>
	
</mapper>