<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.MemberLevelMapper">

	<!-- Result Map -->
	<resultMap id="MemberLevelResultMap" type="com.jing.core.model.entity.MemberLevel">
		<id column="level_id" property="levelId" />
		<result column="level_name" property="levelName" />
		<result column="level_rfm" property="levelRfm" />
		<result column="parent_id" property="parentId" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="updated_by" property="updatedBy" />
		<result column="updated_date" property="updatedDate" />
	</resultMap>
	
	<sql id="query_tables_Property" >
		<where>
			<if test="param.levelId != null and param.levelId != ''">
				and level_id = #{param.levelId}
			</if>
			<if test="param.levelName != null and param.levelName != ''">
				and level_name = #{param.levelName}
			</if>
			<if test="param.levelRfm != null and param.levelRfm != ''">
				and level_rfm = #{param.levelRfm}
			</if>
			<if test="param.parentId != null and param.parentId != ''">
				and parent_id = #{param.parentId}
			</if>
			<if test="param.createdBy != null and param.createdBy != ''">
				and created_by = #{param.createdBy}
			</if>
			<if test="param.createdDate != null and param.createdDate != ''">
				and created_date = #{param.createdDate}
			</if>
			<if test="param.updatedBy != null and param.updatedBy != ''">
				and updated_by = #{param.updatedBy}
			</if>
			<if test="param.updatedDate != null and param.updatedDate != ''">
				and updated_date = #{param.updatedDate}
			</if>
		</where>
	</sql>

	<!-- 添加 会员体系 -->
	<insert id="addMemberLevel" parameterType="com.jing.core.model.entity.MemberLevel">
		<selectKey keyProperty="levelId" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO tb_member_level (level_id ,level_name ,level_rfm ,parent_id ,created_by ,created_date ,updated_by ,updated_date ) 
		values
		(#{levelId},#{levelName},#{levelRfm},#{parentId},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate})
	</insert>

	<!-- 修改会员体系 -->
	<update id="updateMemberLevel" parameterType="com.jing.core.model.entity.MemberLevel">
		UPDATE tb_member_level
		<set> 
			<if test="levelName != null" >
				level_name = #{levelName},
			</if>
			<if test="levelRfm != null" >
				level_rfm = #{levelRfm},
			</if>
			<if test="parentId != null" >
				parent_id = #{parentId},
			</if>
		
			<if test="updatedBy != null" >
				updated_by = #{updatedBy},
			</if>
			<if test="updatedDate != null" >
				updated_date = #{updatedDate},
			</if>
		</set>
		WHERE	level_id = #{levelId}
	</update>
	
	<!-- 根据ID删除会员体系 -->
	<delete id="deleteMemberLevelById"  parameterType="Integer">
		DELETE FROM tb_member_level WHERE level_id = #{value}
	</delete>
	
	<!-- 根据ID查询会员体系 -->
	<select id="getMemberLevelById" resultMap="MemberLevelResultMap" parameterType="Integer">
		SELECT * FROM tb_member_level WHERE level_id = #{value}
	</select>
	
	<select id="findMemberLevelListPage" resultMap="MemberLevelResultMap">
		SELECT * FROM tb_member_level
		<include refid="query_tables_Property" />
	</select>
	
	<select id="findMemberLevelList" resultMap="MemberLevelResultMap">
		SELECT * FROM tb_member_level
		<include refid="query_tables_Property" />
	</select>
	
</mapper>