<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.ReservationMapper">

<!-- Result Map-->
<resultMap id="ReservationResultMap" type="com.jing.core.model.entity.Reservation">
	<id column="reservation_id" property="reservationId"/>
	<result column="room_id" property="roomId"/>
	<result column="start_time" property="startTime"/>
	<result column="end_time" property="endTime"/>
	<result column="estimate_time" property="estimateTime"/>
	<result column="reserve_time" property="reserveTime"/>
	<result column="member_id" property="memberId"/>
	<result column="estimate_person" property="estimatePerson"/>
	<result column="estimate_call" property="estimateCall"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_reservation_item">
	reservation_id, room_id, start_time, end_time, estimate_time, reserve_time, member_id, estimate_person, estimate_call, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_reservation_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="reservation.reservationId != null">AND reservation_id = #{reservation.reservationId} </if>
		<if test="reservation.roomId != null">AND room_id like concat(#{reservation.roomId}, '%') </if>
		<if test="reservation.memberId != null">AND member_id like concat(#{reservation.memberId}, '%') </if>
		<if test="reservation.estimatePerson != null">AND estimate_person like concat(#{reservation.estimatePerson}, '%') </if>
		<if test="reservation.createdBy != null">AND created_by like concat(#{reservation.createdBy}, '%') </if>
		<if test="reservation.updatedBy != null">AND updated_by like concat(#{reservation.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 房间预定 -->
<insert id="addReservation" parameterType="com.jing.core.model.entity.Reservation" >
	<selectKey keyProperty="reservationId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_reservation 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="reservationId != null"> reservation_id,</if>
		<if test="roomId != null"> room_id,</if>
		<if test="startTime != null"> start_time,</if>
		<if test="endTime != null"> end_time,</if>
		<if test="estimateTime != null"> estimate_time,</if>
		<if test="reserveTime != null"> reserve_time,</if>
		<if test="memberId != null"> member_id,</if>
		<if test="estimatePerson != null"> estimate_person,</if>
		<if test="estimateCall != null"> estimate_call,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="reservationId != null"> #{reservationId},</if>
		<if test="roomId != null"> #{roomId},</if>
		<if test="startTime != null"> #{startTime},</if>
		<if test="endTime != null"> #{endTime},</if>
		<if test="estimateTime != null"> #{estimateTime},</if>
		<if test="reserveTime != null"> #{reserveTime},</if>
		<if test="memberId != null"> #{memberId},</if>
		<if test="estimatePerson != null"> #{estimatePerson},</if>
		<if test="estimateCall != null"> #{estimateCall},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 房间预定 -->  
<update id="modifyReservation" parameterType="com.jing.core.model.entity.Reservation" >
  	UPDATE tb_reservation SET
	<trim suffixOverrides=",">
		<if test="roomId != null"> room_id = #{roomId},</if>
		<if test="startTime != null"> start_time = #{startTime},</if>
		<if test="endTime != null"> end_time = #{endTime},</if>
		<if test="estimateTime != null"> estimate_time = #{estimateTime},</if>
		<if test="reserveTime != null"> reserve_time = #{reserveTime},</if>
		<if test="memberId != null"> member_id = #{memberId},</if>
		<if test="estimatePerson != null"> estimate_person = #{estimatePerson},</if>
		<if test="estimateCall != null"> estimate_call = #{estimateCall},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE reservation_id = #{reservationId}
</update>
 
<!-- 删除 房间预定 -->
<delete id="dropReservationByReservationId" parameterType="java.lang.Integer">
	DELETE FROM tb_reservation WHERE reservation_id = #{reservationId}
</delete> 

<!-- 根据标识查询 房间预定 -->
<select id="queryReservationByReservationId"  resultMap="ReservationResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_reservation_item"/>
	FROM tb_reservation WHERE reservation_id = #{reservationId}
</select>

<!-- 根据属性查询房间预定 -->
<select id="queryReservationByProperty"  resultMap="ReservationResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_reservation_item"/>
	FROM tb_reservation 
	<where>
		<include refid="sql_reservation_query_nowhere"/>
	</where>
</select>

<!-- 根据房间预定属性与分页信息分页查询房间预定信息 -->
<select id="queryReservationForPage"  resultMap="ReservationResultMap" > 
	SELECT 
	<include refid="sql_reservation_item"/>
	FROM tb_reservation 
	<where>
		<include refid="sql_reservation_query_nowhere"/>
	</where>
</select>

</mapper>   
