<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.RoomMapper">

<!-- Result Map-->
<resultMap id="RoomResultMap" type="com.jing.core.model.entity.Room">
	<id column="room_id" property="roomId"/>
	<result column="store_id" property="storeId"/>
	<result column="types" property="types"/>
	<result column="area" property="area"/>
	<result column="room_no" property="roomNo"/>
	<result column="room_name" property="roomName"/>
	<result column="status" property="status"/>
	<result column="room_status" property="roomStatus"/>
	<result column="chair" property="chair"/>
	<result column="bed" property="bed"/>
	<result column="mark" property="mark"/>
	<result column="phone" property="phone"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_room_item">
	room_id, store_id, types, area, room_no, room_name, status, room_status, chair, bed, mark, phone, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_room_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="room.roomId != null">AND room_id like concat(#{room.roomId}, '%') </if>
		<if test="room.storeId != null">AND store_id like concat(#{room.storeId}, '%') </if>
		<if test="room.types != null">AND types = #{room.types} </if>
		<if test="room.area != null">AND area like concat(#{room.area}, '%') </if>
		<if test="room.roomNo != null">AND room_no like concat(#{room.roomNo}, '%') </if>
		<if test="room.roomName != null">AND room_name like concat(#{room.roomName}, '%') </if>
		<if test="room.status != null">AND status = #{room.status} </if>
		<if test="room.roomStatus != null">AND room_status = #{room.roomStatus} </if>
		<if test="room.chair != null">AND chair = #{room.chair} </if>
		<if test="room.bed != null">AND bed = #{room.bed} </if>
		<if test="room.mark != null">AND mark like concat(#{room.mark}, '%') </if>
		<if test="room.phone != null">AND phone like concat(#{room.phone}, '%') </if>
		<if test="room.createdBy != null">AND created_by like concat(#{room.createdBy}, '%') </if>
		<if test="room.updatedBy != null">AND updated_by like concat(#{room.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 房间 -->
<insert id="addRoom" parameterType="com.jing.core.model.entity.Room" >
 	INSERT INTO tb_room 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="roomId != null"> room_id,</if>
		<if test="storeId != null"> store_id,</if>
		<if test="types != null"> types,</if>
		<if test="area != null"> area,</if>
		<if test="roomNo != null"> room_no,</if>
		<if test="roomName != null"> room_name,</if>
		<if test="status != null"> status,</if>
		<if test="roomStatus != null"> room_status,</if>
		<if test="chair != null"> chair,</if>
		<if test="bed != null"> bed,</if>
		<if test="mark != null"> mark,</if>
		<if test="phone != null"> phone,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="roomId != null"> #{roomId},</if>
		<if test="storeId != null"> #{storeId},</if>
		<if test="types != null"> #{types},</if>
		<if test="area != null"> #{area},</if>
		<if test="roomNo != null"> #{roomNo},</if>
		<if test="roomName != null"> #{roomName},</if>
		<if test="status != null"> #{status},</if>
		<if test="roomStatus != null"> #{roomStatus},</if>
		<if test="chair != null"> #{chair},</if>
		<if test="bed != null"> #{bed},</if>
		<if test="mark != null"> #{mark},</if>
		<if test="phone != null"> #{phone},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 房间 -->  
<update id="modifyRoom" parameterType="com.jing.core.model.entity.Room" >
  	UPDATE tb_room SET
	<trim suffixOverrides=",">
		<if test="storeId != null"> store_id = #{storeId},</if>
		<if test="types != null"> types = #{types},</if>
		<if test="area != null"> area = #{area},</if>
		<if test="roomNo != null"> room_no = #{roomNo},</if>
		<if test="roomName != null"> room_name = #{roomName},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="roomStatus != null"> room_status = #{roomStatus},</if>
		<if test="chair != null"> chair = #{chair},</if>
		<if test="bed != null"> bed = #{bed},</if>
		<if test="mark != null"> mark = #{mark},</if>
		<if test="phone != null"> phone = #{phone},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE room_id = #{roomId}
</update>
 
<!-- 删除 房间 -->
<delete id="dropRoomByRoomId" parameterType="java.lang.String">
	DELETE FROM tb_room WHERE room_id = #{roomId}
</delete> 

<!-- 根据标识查询 房间 -->
<select id="queryRoomByRoomId"  resultMap="RoomResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_room_item"/>
	FROM tb_room WHERE room_id = #{roomId}
</select>

<!-- 根据属性查询房间 -->
<select id="queryRoomByProperty"  resultMap="RoomResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_room_item"/>
	FROM tb_room 
	<where>
		<include refid="sql_room_query_nowhere"/>
	</where>
</select>

<!-- 根据房间属性与分页信息分页查询房间信息 -->
<select id="queryRoomForPage"  resultMap="RoomResultMap" > 
	SELECT 
	<include refid="sql_room_item"/>
	FROM tb_room 
	<where>
		<include refid="sql_room_query_nowhere"/>
	</where>
</select>

</mapper>   
