<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.StoreMapper">

<!-- Result Map-->
<resultMap id="StoreResultMap" type="com.jing.core.model.entity.Store">
	<id column="store_id" property="storeId"/>
	<result column="store_name" property="storeName"/>
	<result column="status" property="status"/>
	<result column="address" property="address"/>
	<result column="phone" property="phone"/>
	<result column="license" property="license"/>
	<result column="sno" property="sno"/>
	<result column="logitude" property="logitude"/>
	<result column="latitude" property="latitude"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_store_item">
	store_id, store_name, status, address, phone, license, sno, logitude, latitude, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_store_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="store.storeId != null">AND store_id like concat(#{store.storeId}, '%') </if>
		<if test="store.storeName != null">AND store_name like concat(#{store.storeName}, '%') </if>
		<if test="store.status != null">AND status = #{store.status} </if>
		<if test="store.address != null">AND address like concat(#{store.address}, '%') </if>
		<if test="store.phone != null">AND phone like concat(#{store.phone}, '%') </if>
		<if test="store.license != null">AND license like concat(#{store.license}, '%') </if>
		<if test="store.sno != null">AND sno like concat(#{store.sno}, '%') </if>
		<if test="store.logitude != null">AND logitude like concat(#{store.logitude}, '%') </if>
		<if test="store.latitude != null">AND latitude like concat(#{store.latitude}, '%') </if>
		<if test="store.createdBy != null">AND created_by like concat(#{store.createdBy}, '%') </if>
		<if test="store.updatedBy != null">AND updated_by like concat(#{store.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 门店 -->
<insert id="addStore" parameterType="com.jing.core.model.entity.Store" >
 	INSERT INTO tb_store 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="storeId != null"> store_id,</if>
		<if test="storeName != null"> store_name,</if>
		<if test="status != null"> status,</if>
		<if test="address != null"> address,</if>
		<if test="phone != null"> phone,</if>
		<if test="license != null"> license,</if>
		<if test="sno != null"> sno,</if>
		<if test="logitude != null"> logitude,</if>
		<if test="latitude != null"> latitude,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="storeId != null"> #{storeId},</if>
		<if test="storeName != null"> #{storeName},</if>
		<if test="status != null"> #{status},</if>
		<if test="address != null"> #{address},</if>
		<if test="phone != null"> #{phone},</if>
		<if test="license != null"> #{license},</if>
		<if test="sno != null"> #{sno},</if>
		<if test="logitude != null"> #{logitude},</if>
		<if test="latitude != null"> #{latitude},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 门店 -->  
<update id="modifyStore" parameterType="com.jing.core.model.entity.Store" >
  	UPDATE tb_store SET
	<trim suffixOverrides=",">
		<if test="storeName != null"> store_name = #{storeName},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="address != null"> address = #{address},</if>
		<if test="phone != null"> phone = #{phone},</if>
		<if test="license != null"> license = #{license},</if>
		<if test="sno != null"> sno = #{sno},</if>
		<if test="logitude != null"> logitude = #{logitude},</if>
		<if test="latitude != null"> latitude = #{latitude},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE store_id = #{storeId}
</update>
 
<!-- 删除 门店 -->
<delete id="dropStoreByStoreId" parameterType="java.lang.String">
	DELETE FROM tb_store WHERE store_id = #{storeId}
</delete> 

<!-- 根据标识查询 门店 -->
<select id="queryStoreByStoreId"  resultMap="StoreResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_store_item"/>
	FROM tb_store WHERE store_id = #{storeId}
</select>

<!-- 根据属性查询门店 -->
<select id="queryStoreByProperty"  resultMap="StoreResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_store_item"/>
	FROM tb_store 
	<where>
		<include refid="sql_store_query_nowhere"/>
	</where>
</select>

<!-- 根据门店属性与分页信息分页查询门店信息 -->
<select id="queryStoreForPage"  resultMap="StoreResultMap" > 
	SELECT 
	<include refid="sql_store_item"/>
	FROM tb_store 
	<where>
		<include refid="sql_store_query_nowhere"/>
	</where>
</select>

</mapper>   
