<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.TypesBindMapper">

<!-- Result Map-->
<resultMap id="TypesBindResultMap" type="com.jing.core.model.entity.TypesBind">
	<id column="bind_id" property="bindId"/>
	<result column="type_id" property="typeId"/>
	<result column="object_id" property="objectId"/>
	<result column="object_ct" property="objectCt"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_typesBind_item">
	bind_id, type_id, object_id, object_ct, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_typesBind_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="typesBind.bindId != null">AND bind_id = #{typesBind.bindId} </if>
		<if test="typesBind.typeId != null">AND type_id = #{typesBind.typeId} </if>
		<if test="typesBind.objectId != null">AND object_id like concat(#{typesBind.objectId}, '%') </if>
		<if test="typesBind.objectCt != null">AND object_ct = #{typesBind.objectCt} </if>
		<if test="typesBind.createdBy != null">AND created_by like concat(#{typesBind.createdBy}, '%') </if>
		<if test="typesBind.updatedBy != null">AND updated_by like concat(#{typesBind.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 类型消费绑定 -->
<insert id="addTypesBind" parameterType="com.jing.core.model.entity.TypesBind" >
	<selectKey keyProperty="bindId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_types_bind 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="bindId != null"> bind_id,</if>
		<if test="typeId != null"> type_id,</if>
		<if test="objectId != null"> object_id,</if>
		<if test="objectCt != null"> object_ct,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="bindId != null"> #{bindId},</if>
		<if test="typeId != null"> #{typeId},</if>
		<if test="objectId != null"> #{objectId},</if>
		<if test="objectCt != null"> #{objectCt},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 类型消费绑定 -->  
<update id="modifyTypesBind" parameterType="com.jing.core.model.entity.TypesBind" >
  	UPDATE tb_types_bind SET
	<trim suffixOverrides=",">
		<if test="typeId != null"> type_id = #{typeId},</if>
		<if test="objectId != null"> object_id = #{objectId},</if>
		<if test="objectCt != null"> object_ct = #{objectCt},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE bind_id = #{bindId}
</update>
 
<!-- 删除 类型消费绑定 -->
<delete id="dropTypesBindByBindId" parameterType="java.lang.Integer">
	DELETE FROM tb_types_bind WHERE bind_id = #{bindId}
</delete> 

<!-- 根据标识查询 类型消费绑定 -->
<select id="queryTypesBindByBindId"  resultMap="TypesBindResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_typesBind_item"/>
	FROM tb_types_bind WHERE bind_id = #{bindId}
</select>

<!-- 根据属性查询类型消费绑定 -->
<select id="queryTypesBindByProperty"  resultMap="TypesBindResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_typesBind_item"/>
	FROM tb_types_bind 
	<where>
		<include refid="sql_typesBind_query_nowhere"/>
	</where>
</select>

<!-- 根据类型消费绑定属性与分页信息分页查询类型消费绑定信息 -->
<select id="queryTypesBindForPage"  resultMap="TypesBindResultMap" > 
	SELECT 
	<include refid="sql_typesBind_item"/>
	FROM tb_types_bind 
	<where>
		<include refid="sql_typesBind_query_nowhere"/>
	</where>
</select>

</mapper>   
