<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.core.model.dao.TypesMapper">

<!-- Result Map-->
<resultMap id="TypesResultMap" type="com.jing.core.model.entity.Types">
	<id column="type_id" property="typeId"/>
	<result column="ass" property="ass"/>
	<result column="type_name" property="typeName"/>
	<result column="low_consumption" property="lowConsumption"/>
	<result column="status" property="status"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
	<result column="is_circle" property="isCircle"/>
	<result column="circle_step" property="circleStep"/>
	<result column="circle_time" property="circleTime"/>
</resultMap>

<sql id="sql_types_item">
	type_id, ass, type_name, low_consumption, status, created_by, created_date, updated_by, updated_date, is_circle, circle_step, circle_time
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_types_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="types.typeId != null">AND type_id = #{types.typeId} </if>
		<if test="types.ass != null">AND ass = #{types.ass} </if>
		<if test="types.typeName != null">AND type_name like concat(#{types.typeName}, '%') </if>
		<if test="types.status != null">AND status = #{types.status} </if>
		<if test="types.createdBy != null">AND created_by like concat(#{types.createdBy}, '%') </if>
		<if test="types.updatedBy != null">AND updated_by like concat(#{types.updatedBy}, '%') </if>
		<if test="types.isCircle != null">AND is_circle = #{types.isCircle} </if>
		<if test="types.circleStep != null">AND circle_step = #{types.circleStep} </if>
	</trim>
</sql>
   
<!-- 插入 类型配置 -->
<insert id="addTypes" parameterType="com.jing.core.model.entity.Types" >
	<selectKey keyProperty="typeId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_types 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="typeId != null"> type_id,</if>
		<if test="ass != null"> ass,</if>
		<if test="typeName != null"> type_name,</if>
		<if test="lowConsumption != null"> low_consumption,</if>
		<if test="status != null"> status,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
		<if test="isCircle != null"> is_circle,</if>
		<if test="circleStep != null"> circle_step,</if>
		<if test="circleTime != null"> circle_time,</if>
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="typeId != null"> #{typeId},</if>
		<if test="ass != null"> #{ass},</if>
		<if test="typeName != null"> #{typeName},</if>
		<if test="lowConsumption != null"> #{lowConsumption},</if>
		<if test="status != null"> #{status},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
		<if test="isCircle != null"> #{isCircle},</if>
		<if test="circleStep != null"> #{circleStep},</if>
		<if test="circleTime != null"> #{circleTime},</if>
	</trim>
</insert>

<!-- 根据标识，修改 类型配置 -->  
<update id="modifyTypes" parameterType="com.jing.core.model.entity.Types" >
  	UPDATE tb_types SET
	<trim suffixOverrides=",">
		<if test="ass != null"> ass = #{ass},</if>
		<if test="typeName != null"> type_name = #{typeName},</if>
		<if test="lowConsumption != null"> low_consumption = #{lowConsumption},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
		<if test="isCircle != null"> is_circle = #{isCircle},</if>
		<if test="circleStep != null"> circle_step = #{circleStep},</if>
		<if test="circleTime != null"> circle_time = #{circleTime},</if>
	</trim>
	WHERE type_id = #{typeId}
</update>
 
<!-- 删除 类型配置 -->
<delete id="dropTypesByTypeId" parameterType="java.lang.Integer">
	DELETE FROM tb_types WHERE type_id = #{typeId}
</delete> 

<!-- 根据标识查询 类型配置 -->
<select id="queryTypesByTypeId"  resultMap="TypesResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_types_item"/>
	FROM tb_types WHERE type_id = #{typeId}
</select>

<!-- 根据属性查询类型配置 -->
<select id="queryTypesByProperty"  resultMap="TypesResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_types_item"/>
	FROM tb_types 
	<where>
		<include refid="sql_types_query_nowhere"/>
	</where>
</select>

<!-- 根据类型配置属性与分页信息分页查询类型配置信息 -->
<select id="queryTypesForPage"  resultMap="TypesResultMap" > 
	SELECT 
	<include refid="sql_types_item"/>
	FROM tb_types 
	<where>
		<include refid="sql_types_query_nowhere"/>
	</where>
</select>

</mapper>   
