<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.settlement.model.dao.GoodsExtMapper">

<!-- Result Map-->
<resultMap id="GoodsExtResultMap" type="com.jing.settlement.model.entity.GoodsExt">
	<id column="goods_id" property="goodsId"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_goodsExt_item">
	goods_id, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_goodsExt_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="goodsExt.goodsId != null">AND goods_id like concat(#{goodsExt.goodsId}, '%') </if>
		<if test="goodsExt.createdBy != null">AND created_by like concat(#{goodsExt.createdBy}, '%') </if>
		<if test="goodsExt.updatedBy != null">AND updated_by like concat(#{goodsExt.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 商品服务扩展 -->
<insert id="addGoodsExt" parameterType="com.jing.settlement.model.entity.GoodsExt" >
 	INSERT INTO to_goods_ext 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="goodsId != null"> goods_id,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="goodsId != null"> #{goodsId},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 商品服务扩展 -->  
<update id="modifyGoodsExt" parameterType="com.jing.settlement.model.entity.GoodsExt" >
  	UPDATE to_goods_ext SET
	<trim suffixOverrides=",">
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE goods_id = #{goodsId}
</update>
 
<!-- 删除 商品服务扩展 -->
<delete id="dropGoodsExtByGoodsId" parameterType="java.lang.String">
	DELETE FROM to_goods_ext WHERE goods_id = #{goodsId}
</delete> 

<!-- 根据标识查询 商品服务扩展 -->
<select id="queryGoodsExtByGoodsId"  resultMap="GoodsExtResultMap" parameterType="java.lang.String">
	SELECT 
	<include refid="sql_goodsExt_item"/>
	FROM to_goods_ext WHERE goods_id = #{goodsId}
</select>

<!-- 根据属性查询商品服务扩展 -->
<select id="queryGoodsExtByProperty"  resultMap="GoodsExtResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_goodsExt_item"/>
	FROM to_goods_ext 
	<where>
		<include refid="sql_goodsExt_query_nowhere"/>
	</where>
</select>

<!-- 根据商品服务扩展属性与分页信息分页查询商品服务扩展信息 -->
<select id="queryGoodsExtForPage"  resultMap="GoodsExtResultMap" > 
	SELECT 
	<include refid="sql_goodsExt_item"/>
	FROM to_goods_ext 
	<where>
		<include refid="sql_goodsExt_query_nowhere"/>
	</where>
</select>

</mapper>   
