<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.settlement.model.dao.GoodsMaterialMapper">

	<!-- Result Map -->
	<resultMap id="GoodsMaterialResultMap" type="com.jing.settlement.model.entity.GoodsMaterial">
		<id column="material_id" property="materialId" />
		<result column="store_id" property="storeId" />
		<result column="material_name" property="materialName" />
		<result column="material_no" property="materialNo" />
		<result column="material_types" property="materialTypes" />
		<result column="material_ct" property="materialCt" />
		<result column="pinyin" property="pinyin" />
		<result column="cost" property="cost" />
		<result column="cost_all" property="costAll" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="updated_by" property="updatedBy" />
		<result column="updated_date" property="updatedDate" />
	</resultMap>
	
	<sql id="query_tables_Property" >
		<where>
			<if test="param.materialId != null and param.materialId != ''">
				and material_id = #{param.materialId}
			</if>
			<if test="param.storeId != null and param.storeId != ''">
				and store_id = #{param.storeId}
			</if>
			<if test="param.materialName != null and param.materialName != ''">
				and material_name = #{param.materialName}
			</if>
			<if test="param.materialNo != null and param.materialNo != ''">
				and material_no = #{param.materialNo}
			</if>
			<if test="param.materialTypes != null and param.materialTypes != ''">
				and material_types = #{param.materialTypes}
			</if>
			<if test="param.materialCt != null and param.materialCt != ''">
				and material_ct = #{param.materialCt}
			</if>
			<if test="param.pinyin != null and param.pinyin != ''">
				and pinyin = #{param.pinyin}
			</if>
			<if test="param.cost != null and param.cost != ''">
				and cost = #{param.cost}
			</if>
			<if test="param.costAll != null and param.costAll != ''">
				and cost_all = #{param.costAll}
			</if>
			<if test="param.createdBy != null and param.createdBy != ''">
				and created_by = #{param.createdBy}
			</if>
			<if test="param.createdDate != null and param.createdDate != ''">
				and created_date = #{param.createdDate}
			</if>
			<if test="param.updatedBy != null and param.updatedBy != ''">
				and updated_by = #{param.updatedBy}
			</if>
			<if test="param.updatedDate != null and param.updatedDate != ''">
				and updated_date = #{param.updatedDate}
			</if>
		</where>
	</sql>

	<!-- 添加 基本原料 -->
	<insert id="addGoodsMaterial" parameterType="com.jing.settlement.model.entity.GoodsMaterial">
		<selectKey keyProperty="materialId" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO to_goods_material (material_id ,store_id ,material_name ,material_no ,material_types ,material_ct ,pinyin ,cost ,cost_all ,created_by ,created_date ,updated_by ,updated_date ) 
		values
		(#{materialId},#{storeId},#{materialName},#{materialNo},#{materialTypes},#{materialCt},#{pinyin},#{cost},#{costAll},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate})
	</insert>

	<!-- 修改基本原料 -->
	<update id="updateGoodsMaterial" parameterType="com.jing.settlement.model.entity.GoodsMaterial">
		UPDATE to_goods_material
		<set> 
			<if test="storeId != null" >
				store_id = #{storeId},
			</if>
			<if test="materialName != null" >
				material_name = #{materialName},
			</if>
			<if test="materialNo != null" >
				material_no = #{materialNo},
			</if>
			<if test="materialTypes != null" >
				material_types = #{materialTypes},
			</if>
			<if test="materialCt != null" >
				material_ct = #{materialCt},
			</if>
			<if test="pinyin != null" >
				pinyin = #{pinyin},
			</if>
			<if test="cost != null" >
				cost = #{cost},
			</if>
			<if test="costAll != null" >
				cost_all = #{costAll},
			</if>
			<if test="createdBy != null" >
				created_by = #{createdBy},
			</if>
			<if test="createdDate != null" >
				created_date = #{createdDate},
			</if>
			<if test="updatedBy != null" >
				updated_by = #{updatedBy},
			</if>
			<if test="updatedDate != null" >
				updated_date = #{updatedDate},
			</if>
		</set>
		WHERE	material_id = #{materialId}
	</update>
	
	<!-- 根据ID删除基本原料 -->
	<delete id="deleteGoodsMaterialById"  parameterType="Integer">
		DELETE FROM to_goods_material WHERE material_id = #{value}
	</delete>
	
	<!-- 根据ID查询基本原料 -->
	<select id="getGoodsMaterialById" resultMap="GoodsMaterialResultMap" parameterType="Integer">
		SELECT * FROM to_goods_material WHERE material_id = #{value}
	</select>
	
	<select id="findGoodsMaterialListPage" resultMap="GoodsMaterialResultMap">
		SELECT * FROM to_goods_material
		<include refid="query_tables_Property" />
	</select>
	
	<select id="findGoodsMaterialList" resultMap="GoodsMaterialResultMap">
		SELECT * FROM to_goods_material
		<include refid="query_tables_Property" />
	</select>
	
</mapper>