<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.settlement.model.dao.PackagesDetailMapper">

	<!-- Result Map -->
	<resultMap id="PackagesDetailResultMap" type="com.jing.settlement.model.entity.PackagesDetail">
		<id column="detail_id" property="detailId" />
		<result column="package_id" property="packageId" />
		<result column="goods_id" property="goodsId" />
		<result column="goods_ct" property="goodsCt" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="updated_by" property="updatedBy" />
		<result column="updated_date" property="updatedDate" />
	</resultMap>
	
	<resultMap id="PackagesDetailVoResultMap" type="com.jing.settlement.model.entity.PackagesDetailVo" extends="com.jing.settlement.model.dao.GoodsMapper.GoodsResultMap">
		<id column="detail_id" property="detailId" />
		<result column="goods_ct" property="goodsCt" />
		<result column="package_name" property="packageName" />
	</resultMap>
	
	
	<sql id="query_tables_Property" >
		<where>
			<include refid="query_no_where_Property" />
		</where>
	</sql>
	
	<sql id="query_no_where_Property" >
		<if test="param.detailId != null and param.detailId != ''">
			and p2.detail_id = #{param.detailId}
		</if>
		<if test="param.packageId != null and param.packageId != ''">
			and p2.package_id = #{param.packageId}
		</if>
		<if test="param.goodsId != null and param.goodsId != ''">
			and p2.goods_id = #{param.goodsId}
		</if>
		<if test="param.goodsCt != null and param.goodsCt != ''">
			and p2.goods_ct = #{param.goodsCt}
		</if>
	</sql>

	<!-- 添加 消费套餐详情 -->
	<insert id="addPackagesDetail" parameterType="com.jing.settlement.model.entity.PackagesDetail">
		<selectKey keyProperty="detailId" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO to_packages_detail (detail_id ,package_id ,goods_id ,goods_ct ,created_by ,created_date ,updated_by ,updated_date ) 
		values
		(#{detailId},#{packageId},#{goodsId},#{goodsCt},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate})
	</insert>

	<!-- 修改消费套餐详情 -->
	<update id="updatePackagesDetail" parameterType="com.jing.settlement.model.entity.PackagesDetail">
		UPDATE to_packages_detail
		<set> 
			<if test="packageId != null" >
				package_id = #{packageId},
			</if>
			<if test="goodsId != null" >
				goods_id = #{goodsId},
			</if>
			<if test="goodsCt != null" >
				goods_ct = #{goodsCt},
			</if>
			<if test="createdBy != null" >
				created_by = #{createdBy},
			</if>
			<if test="createdDate != null" >
				created_date = #{createdDate},
			</if>
			<if test="updatedBy != null" >
				updated_by = #{updatedBy},
			</if>
			<if test="updatedDate != null" >
				updated_date = #{updatedDate},
			</if>
		</set>
		WHERE	detail_id = #{detailId}
	</update>
	
	<!-- 根据ID删除消费套餐详情 -->
	<delete id="deletePackagesDetailById"  parameterType="Integer">
		DELETE FROM to_packages_detail WHERE detail_id = #{value}
	</delete>
	
	<!-- 根据ID查询消费套餐详情 -->
	<select id="getPackagesDetailById" resultMap="PackagesDetailResultMap" parameterType="Integer">
		SELECT * FROM to_packages_detail WHERE detail_id = #{value}
	</select>
	
	<select id="findPackagesDetailListPage" resultMap="PackagesDetailVoResultMap">
		select p1.package_name,p2.detail_id, p2.goods_ct,p3.*
		from  to_packages p1, to_packages_detail p2,to_goods p3
		where p1.package_id = p2.package_id
		and p2.goods_id = p3.goods_id
		<include refid="query_no_where_Property" />
	</select>
	
	<select id="findPackagesDetailList" resultMap="PackagesDetailVoResultMap">
		select p1.package_name,p2.detail_id, p2.goods_ct,p3.*
		from  to_packages p1, to_packages_detail p2,to_goods p3
		where p1.package_id = p2.package_id
		and p2.goods_id = p3.goods_id
		<include refid="query_no_where_Property" />
	</select>
	
</mapper>