.btn_w{width:120px;height:40px;inline-height:40px}
.return_b{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	background:#ccc;
	color:#fff;
	text-align: center;
}
.return_b:before{
  width:0px;
  height:0px;
  border: 20px transparent solid;
  border-right-color: #ccc;
  position:absolute;
  top:0px;
  right:100%;
  content:""
	
}
.border_bottom{border-bottom:1px solid #f0f0f0;padding-bottom:10px}