.tab_wrap {
	width: 100%;
	cursor: pointer;
}

.tab_wrap li:hover {
	background: #e7ecf1;
}

.tab_wrap_li {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.tab_wrap_li p {
	margin-bottom: 0px;
}

.tab_wrap_li2 {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.tab_wrap_li2 p {
	margin-bottom: 5px;
	/*font-size: 19px;*/
}

.wrap1 li {
	border-bottom: 1px solid #e7ecf1;
	padding: 10px 5px;;
}

.wrap2 li {
	border-bottom: 1px solid #e7ecf1;
	padding: 20px 5px;;
}

.wraplq li, .wraplq2 li {
	border-bottom: 1px solid #e7ecf1;
	padding: 10px 20px;
}

.li_one {
	width: 5%;
	text-align: center;
}

.li_two {
	width: 45%;
}

.li_three {
	width: 25%;
}

.li_four {
	width: 20%;
}

.li_five {
	width: 35%;
}

.li_six {
	width: 8%;
	text-align: center;
}

.li_seven {
	width: 34%;
}

.title_text {
	font-weight: bold;
}

.title_text2 {
	font-weight: bold;
	font-size: 25px !important;
}

.tab_labal ul li {
	
}

.list_wrap_photo, .list_wrap_text {
	display: inline-block;
	vertical-align: top;
}

.list_wrap_text {
	font-size: 12px;
	line-height: 20px;
}

.list_wrap_photo {
	width: 22%;
	overflow: hidden;
}

.list_wrap_text {
	margin-left: 5px;
}

.list_wrap_photo img {
	width: 100%;
}

.list_g {
	padding: 8px;
	border-bottom: 1px solid #eaeaea;
}

.list_slid {
	position: relative;
}

.solid_icon {
	position: absolute;
	right: 10px;
}

.solid_icon img {
	width: 15px;
}

/*lognin样式*/
.logo_bg {
	width: 100%;
	height: 100%;
	background-image: url("../images/hj_index/hj04.png");
	background-color: #2072c5;
	background-size: 100% 100%;
	overflow: hidden;
}

.index_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 999;
	top: 0;
	left: 0;
}

/*主页背景淡入淡出样式 */
.pic li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.pic li img {
	width: 100%;
	height: 100%;
}

.wrap_login {
	width: 25%;
	height: 380px;
	background: rgba(255, 255, 255, 0.9);
	margin: 20px auto;
	border-radius: 4px;
	box-shadow: 0 0 10px #000000;
	padding: 30px;
}

.login_top {
	text-align: center;
    margin-top: 200px;
}

.login_top img {
	display: inline-block;
	width: 28%;
	margin-top: 10px;
}

.input_div {
	margin: 30px auto;
}

.input_div h4 {
	font-family: "Microsoft YaHei UI";
	font-size: 20px;
	color: #0c61ec;
	margin-bottom: 30px;
}

.wrap_iocn {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 5px;
}

.icon_u {
	background: url('../images/username.svg') no-repeat;
	background-size: 25px 25px;
}

.icon_p {
	background: url('../images/password.svg') no-repeat;
	background-size: 25px 25px;
}

.form-group-t {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.form-group-t input {
	height: 45px;
}

.loginbtn {
	background-color: #229EFE !important;
	border: 0 !important;
	color: #fff !important;
	font-family: "Microsoft YaHei UI";
	font-size: 18px;
}

.loginbtn:hover {
	background-color: #1546c4 !important;
}

.div_radius {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #479aef;
	text-align: center;
}
/*主界面*/
.nav_top {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 15px #606060;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	padding: 10px 20px;
}

.logo img {
	display: inline-block;
	vertical-align: middle;
}

.user_icon {
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.user_icon ul li {
	font-size: 12px;
	font-family: "Microsoft YaHei UI";
	color: #fff;
	text-align: center;
	padding: 10px 15px;
}

.user_icon ul {
	margin-bottom: 0;
}

.user_icon ul li img, .user_icon ul li span {
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.user_icon ul li img {
	width: 20px;
}

.user_icon ul li:hover {
	background: rgba(0, 0, 0, 0.3);
}

.wrap_contet {
	width: 65%;
	height: 450px;
	margin: 220px auto;
}

.row_wrap {
	padding: 0px 0px;
}

.wrap_item {
	padding: 5px !important;
}

.item_col_5 {
	width: 16.1%;
	display: inline-block
}

.nav_wrap {
	height: 100px;
	text-align: center;
	line-height: 30px;
	transition: transform 0.5s;
	position: relative;
}

.title_slogan {
	text-align: center;
	margin-bottom: 30px
}

.title_slogan img {
	width: 65%
}

.locking_icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-image: url('../images/lock.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
	background-position: center center;
}

.nav_img {
	height: 45px;
	margin-top: 20px;
}

.nav_wrap_con {
	height: 55px;
	line-height: 55px;
	padding: 2px 10px;
}

.nav_img_small {
	width: 25px;
}

.nav_wrap .title {
	margin-top: 5px;
}

.nav_wrap:hover, .nav_wrap_con:hover {
	cursor: pointer;
	filter: alpha(opacity = 100); /*IE滤镜，透明度50%*/
	-moz-opacity: 1; /*Firefox私有，透明度50%*/
	opacity: 1; /*其他，透明度50%*/
	transform: scale(1.3);
	z-index: 111;
}

.noitem {
	text-align: center;
	color: #fff;
	transition: transform 0.5s;
	position: relative;
	overflow: hidden;
}

.wrap_icon {
	background: rgba(74, 218, 235, 0.4);
	box-shadow: 0 10px 15px #457edb;
	height: 180px;
	text-align: center;
	font-size: 18px;
	font-family: "Microsoft YaHei UI";
	color: #fff;
	vertical-align: middle;
	padding: 30px;
	transition: transform 1s;
	cursor: pointer;
	border-radius: 8px;
}

.Prompt {
	transform: rotate(45deg);
	position: absolute;
	right: -24px;
	top: 11px;
	background: #0469f7;
	width: 100px;
	padding: 2px 5px;
}

.Prompt_wrap {
	font-weight: normal;
	font-size: 9px;
	font-family: "Microsoft YaHei UI";
}

.search {
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: right;
	position: relative;
	padding: 5px 5px;
}

.search .search_wrap {
	width: 130px;
	display: inline-block !important;
	color: #808080;
}

.search .date_wrap.active {
	background: url('../images/event_nav09.png') 95px no-repeat;
}

.search .date_wrap {
	background: url('../images/event_nav10.png') 95px no-repeat;
	width: 130px;
	display: inline-block !important;
	color: #808080;
}

.but_search {
	vertical-align: top !important;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.form-control1 {
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.lishitime {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.zshitime {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.delete, .modify {
	cursor: pointer;
}

/*table样式*/
.table_style td {
	height: 30px;
	line-height: 30px !important;
}

.show_wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background: #fff;
	z-index: 888;
	box-shadow: 0 0 20px #808080;
	overflow: auto;
	padding: 20px;
	display: none;
}

.show_wrap_full {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 888;
	box-shadow: 0 0 20px #808080;
	overflow: auto;
	/* padding:20px ; */
	display: none;
}

.show_wrap_title {
	text-align: center;
	margin-bottom:0px!important;
	margin-top:0px!important;
	font-size:16px;
	padding:5px;
}

#details_wrap tr td input {
	width: 100%;
	border: none;
	outline: none;
}

#update_wrap tr td input {
	width: 100%;
	border: none;
	outline: none;
	padding: 2px 8px;
}

#update_wrap tr td select {
	width: 100%;
	border: none;
	outline: none;
	padding: 6px 8px;
}

#update_wrap tr td textarea {
	width: 100%;
	border: none;
	outline: none;
	padding: 6px 8px;
}

.mod_table tr td {
	min-height: 30px;
	line-height: 30px !important;
}

.hide_border {
	border: none !important;
}

.cont_aa {
	padding: 5px;
}

.from_wrap_a {
	margin-top: 10px;
	padding: 5px;
	border-top: 1px solid #e7ecf1;
	/* overflow: hidden; */
}

.from_wrap_input {
	/*width:70%!important;*/
	display: inline-block !important;
}

.show_wrap_label {
	margin-top: 5px;
}

.coordinate_icon {
	margin-top: -8px;
	display: inline-block;
	width: 18px;
	height: 19px;
	background-image: url("../images/coordinate_icon.png");
	background-size: 18px 19px;
	position: absolute;
	top: 39px;
	right: 20px;
	cursor: pointer;
}

.coordinate_icon_3d {
	display: inline-block;
	width: 18px;
	height: 19px;
	background-image: url("../images/coordinate_icon.png");
	background-size: 18px 19px;
	position: absolute;
	top: 39px;
	right: 20px;
	cursor: pointer;
}

.select_icons {
	display: inline-block;
	width: 18px;
	height: 19px;
	background-image: url("../images/select_icons.png");
	background-size: 18px 19px;
	position: absolute;
	top: 39px;
	right: 20px;
	cursor: pointer;
}

.select_icon {
	display: inline-block;
	width: 18px;
	height: 19px;
	background-size: 18px 19px;
	position: absolute;
	top: 39px;
	right: 20px;
	cursor: pointer;
}

.choose_icon {
	display: inline-block;
	width: 18px;
	height: 19px;
	background-image: url("../images/normal.png");
	background-size: 18px 19px;
	position: absolute;
	top: 39px;
	right: 20px;
	cursor: pointer;
}

.map_wrap {
	height: 250px;
	display: none;
}

.map_wrap_3d {
	height: 250px;
	display: none;
}

.treeview .list-group-item {
	cursor: pointer;
	border: none;
	border-radius: 0;
}

.show_divwrap {
	width: 25%;
	z-index: 9999;
	background: #fff;
	position: absolute;
	top: 55px;
	right: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

.show_divwrap_c {
	padding: 15px;
}

.show_divwrap h4 {
	text-align: center;
	background: #ccc;
	color: #fff;
	margin-top: 0;
	padding: 10px;
}

.up_wrap {
	padding: 10px;
	border: 1px solid #f0f0f0;
}

.wrap_title {
	/* text-align:center; */
	font-size: 18px;
	color: #479aef;
}

.bg_tab1 {
	background-image: url(../../../resources/images/hj_index/bg_tab1.png)
		!important;
	background-repeat: no-repeat !important;
	background-size: 40px !important;
}

.wrap_left_t {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.wrap_left_r {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	float: right;
}

.wrap_detailcontent {
	border-top: 1px solid #f0f0f0;
	padding: 10px 0
}

.down_wrap {
	padding: 10px;
	border: 1px solid #f0f0f0;
	margin-top: 20px;
}

.down_wrap_content {
	color: #808080;
	font-size: 16px;
	margin-top: 10px
}
/* .input1_edit,.select_edit{
	width:100%;
	border:1px solid #f0f0f0;
} */
.small_txt {
	font-size: 14px;
}

.set_butt {
	width: 70%;
	font-size: 18px !important;
	height: 40px;
	line-height: 40px;
	background: #479aef !important;
}

.bg_h_yellow {
	background: #ffffad;
}

.bg_h_green {
	background: #ccebb2;
}

.bg_h_blue {
	background: #c6d2e5;
}

.bg_h_red {
	background: #f4b8b9;
}

.bg_h_blurgreen {
	background: #c6e9d9;
}

.bg_h_Violet {
	background: #f0c7db;
}

.col-wrap {
	width: 14%;
	display: inline-block;
}

.wrap_title {
	background: #f0f0f0
}

.breadcrumb {
	margin-bottom: 0 !important;
}

.row_border {
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 5px
}

.row_padding {
	padding: 5px 0;
	position: relative;
}

.width_95 {
	width: 91%;
	display: inline-block;
	text-aling: left
}

.width_5 {
	width: 8%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.position_icon {
	background: url(../../../resources/images/hj_index/jt_icon.png)
		no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	transition: all 0.5s;
}

#search_con {
	height: 55px;
}

.btn_wrap_in {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 8px
}

.wrap_attr_in {
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: none
}

.wrap_attr_in h4 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #808080;
	background: #f0f0f0;
	padding: 8px;
}

.border-bottom {
	border-bottom: 1px solid #e7ecf1
}

.li_position {
	position: relative;
}

.li_img_left_p {
	position: absolute;
	left: 30px
}

.li_img_right_p {
	position: absolute;
	right: 30px
}

.li_img_right_p img {
	width: 20px
}

.li_img_left_p img {
	width: 20px
}

.stop_but {
	background-color: #ccc !important;
	border: none !important;
}

/* org */
.org_wrap_d {
	width: 100%;
	height: 100%;
	/* background:#fff url(../images/hj_index/hj04.png) no-repeat */
}

.org_wrap_d .line {
	height: 160px;
	border-right: 1px solid #487cdc;
	position: absolute;
	display: inline-block;
	top: 65px;
	left: 40px;
}

.org_wrap_d .line01 {
	height: 160px;
	border-right: 1px solid #487cdc;
	position: absolute;
	display: inline-block;
	top: 250px;
	left: 100px;
}

.org_wrap_d .first_row {
	position: absolute;
	right: 0;
	width: 8%;
}

.org_wrap_d .first_row_r {
	position: absolute;
	border: 1px solid #3498f6;
	padding: 2px 10px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-radius: 15px;
	color: #f0f0f0;
}

.position_01 {
	left: 10px
}

.position_02 {
	left: 30px
}

.position_03 {
	left: 30px
}

.position_04 {
	left: 90px
}

.position_05 {
	left: 90px
}

.cursor_b {
	cursor: pointer
}

.cursor_b:hover {
	color: #3498f6
}

.cursor_action {
	color: #3498f6 !important
}

.top_first {
	top: 40px;
}

.top_second {
	top: 220px;
}

.top_third {
	top: 405px;
}

.top_first_f {
	top: 140px
}

.top_first_f1 {
	top: 300px
}

.org_wrap_d .circular {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #487cdc;
	border-radius: 50%;
	margin-left: -10px;
	vertical-align: middle;
}

.fullheight {
	height: 100%;
}

.padding_15 {
	padding: 15px;
}

.top_title {
	padding: 10px;
	border-bottom: 1px solid #f0f0f0;
	background: #f3f3f3;
	color: #808080
}

.left_4 {
	width: 20%;
	float: left;
	position: relative;
	background: #1e4b79
}

.right_6 {
	width: 80%;
	float: right;
	position: relative
}

.back_wrap {
	background: rgba(255, 255, 255, 0.8)
}

.row_line {
	width: 100%;
	border-bottom: 1px solid #487cdc;
	vertical-align: middle;
	float: left;
	margin-top: -10px
}

.float_l {
	float: left
}

.popwrap {
	width: 90%;
	min-height: 300px;
	background: #fff;
	position: absolute;
	left: 5%;
	top: 10%;
	box-shadow: 0 0 15px #808080;
	border-radius: 5px;
	padding: 5px;
	z-index: 9999;
}
.popwrap_a {
	background: #fff;
	position: absolute;
	left: 5%;
	top: 10%;
	box-shadow: 0 0 15px #808080;
	border-radius: 5px;
	padding: 5px;
	z-index: 9999;
}

.close_but {
	position: absolut;
	right: 10px;
	top: 10px;
	float: right
}

.Triangle {
	width: 15px;
	height: 15px;
	background: #fff;
	display: inline-block;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	margin-left: -8px;
	margin-top: 20px;
	position: absolute;
}

.cont_wrap_aa {
	padding: 0 5px 5px 5px;
	font-size: 10px;
}

.content_wrap_title {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
	background: #f4f4f4;
	padding: 10px
}

.col_4 {
	display: inline-block;
	width: 21.5%
}

.col_5 {
	display: inline-block;
	width: 50%;
	padding: 3px;
}

.col_30 {
	float: left;
	width: 30%;
	vertical-align: top;
	border-right: 1px solid #f0f0f0
}

.col_70 {
	width: 70%;
	vertical-align: top;
	overflow: hidden;
	border-left: 1px solid #f0f0f0
}

.clo_10 {
	width: 19.6%;
	display: inline-block
}

.col-z-2 {
	width: 16.5%;
	display: inline-block;
	vertical-align: top;
}

.col-z-3 {
	width: 24.5%;
	display: inline-block;
	vertical-align: top;
}

.col-z-10 {
	width: 83%;
	display: inline-block;
	vertical-align: top;
}

.col-z-5 {
	width: 49.8%;
	display: inline-block;
	vertical-align: top;
}

.col-z-4 {
	width: 33.1%;
	display: inline-block;
	vertical-align: top;
}

.col-z-12 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.col-z_l-5 {
	width: 49.4%;
	display: inline-block;
	vertical-align: top;
}

.height_row_z {
	height: 194px
}

.p_relative {
	position: relative
}

.unit_info_i {
	text-align: center
}

.z_title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 8px;
	border-radius: 0 0 5px 0;
}

.info_i_c {
	width: 80%;
	height: 110px;
	overflow: hidden;
	display: inline-block;
}

.info_i_c img {
	width: 80%;
	height: 110px
}

.unit_info_t {
	padding: 5px;
	font-size: 10px;
}

.content_wrap_text {
	min-height: 110px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 20px;
}

hr {
	margin-top: 10px !important;
	margin-bottom: 10px !important
}

.content_wrap_text {
	cursor: pointer;
}

.colse_wrap_c {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:  url(../images/close_11.svg) no-repeat;
	background-size: 20px 20px;
	margin-right: 5px;
	margin-top: -5px
}
.colse_wrap_D {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:  url(../images/close_12.svg) no-repeat;
	background-size: 20px 20px;
	margin-right: 5px;
	margin-top: -5px
}
.padding_c{padding:5px;}
.bottom_c{margin-bottom:5px}
.font_b{font-weight: bold;}


/* date */
/* .left_wrap_20{width:20%;display:inline-block;height:400px;}
.right_wrap_80{width:79.5%;display:inline-block;height:400px;background:#ccc}
.block_wrap{height:180px;width:100%;}
.margin-top{margin-top:5px;} */
.top_img_title {
	width: 35px;
}

/* map */
.map_top_wrap {
	width: 40%;
	position: absolute;
	top: 10px;
	right: 8px;
	z-index: 8888;
	background: rgba(255, 255, 255, 0.9);
	padding: 5px !important;
	padding: 5px !important;
	font-size: 10px;
	display: none;
	transition: all 1s;
}

.map_top_wrap .nav-tabs li a {
	padding: 2px 3px;
}


.search_map {
	background: #428bca !important;
	width: 23px !important;
	height: 25px; ! important;
	line-height: 25px !important;
	text-align: center !important;
	color: #fff !important;
	position: absolute !important;
	right: 10px !important;
	top: 10px !important;
	z-index: 9999 !important;
	cursor: pointer;
}
.padding_15{padding:15px}
/* .left_w{width:20%;float:left;height: 40px;ont-weight: 700;line-height: 40px;color: #808080;} */
.right_w{width:100%;float:left;}

.back_map {
	background: #428bca !important;	
	width: 23px !important;
	height: 25px; ! important;
	line-height: 25px !important;
	text-align: center !important;
	color: #fff !important;
	position: absolute !important;
	right: 40px !important;
	top: 10px !important;
	z-index: 9999 !important;
	cursor: pointer;
}

.clean_map {
	background: #428bca !important;	
	width: 23px !important;
	height: 25px; ! important;
	line-height: 25px !important;
	text-align: center !important;
	color: #fff !important;
	position: absolute !important;
	right: 70px !important;
	top: 10px !important;
	z-index: 9999 !important;
	cursor: pointer;
}

.contxt_top_img{width:25px;vertical-align: middle;}
.contxt_top_text{vertical-align: middle;}
.black_icon{text-align: left;
    float: left;
    background: #5bc0de;
    padding: 3px 8px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;}
.info_title_h4{font-size:15px}
.downblock{display: inline-block;vertical-align: top;}
/*.show_wrap_title{font-size:17px!important} */


@media screen and (max-width: 1800px) {
	.container_wrap {
		min-height: 750px;
	}
	.content_right {
		min-height: 750px !important;
	}
	.input_div {
	margin: 15px auto;
	}
	.wrap_cont {
		min-height: 400px;
	}
	/* .form-group-t {
		margin-bottom: 20px
	} */
	.wrap_login {
		margin: 10px auto;
		width: 30%;
		height: 340px;
		padding:25px
	}
	.login_top {
		text-align: center;
	    margin-top: 120px;
	}
	.login_top img {
		display: inline-block;
		width: 32%;
		margin-top: 10px;
	}
	.wrap_contet {
		width: 65%;
		height: 400px;
		margin: 160px auto;
	}
	.nav_img {
		height: 35px;
		margin-top: 35px;
	}
	.list-group-item {
		font-size: 13px !important;
	}
	.form-group-t {
		margin-bottom: 13px;
		overflow: hidden;
		
	}
}