<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.document.dao.DocumentDao">

	<!-- Result Map -->
	<resultMap id="DocumentResultMap" type="com.jing.system.document.entity.Document">
		<id column="did" property="did" />
		<result column="remark" property="remark" />
		<result column="actual" property="actual" />
		<result column="suffix" property="suffix" />
		<result column="size" property="size" />
		<result column="state" property="state" />
		<result column="url" property="url" />
		<result column="res" property="res" />
		<result column="upTime" property="upTime"/>
	</resultMap>
	
	<sql id="query_tables_Property" >
		<where>
			<if test="param.did != null and param.did != ''">
				and did = #{param.did}
			</if>
			<if test="param.remark != null and param.remark != ''">
				and remark = #{param.remark}
			</if>
			<if test="param.actual != null and param.actual != ''">
				and actual = #{param.actual}
			</if>
			<if test="param.suffix != null and param.suffix != ''">
				and suffix = #{param.suffix}
			</if>
<!-- 			<if test="param.size != null"> -->
<!-- 				and size = #{param.size} -->
<!-- 			</if> -->
			<if test="param.state != null and param.state != ''">
				and state = #{param.state}
			</if>
			<if test="param.url != null and param.url != ''">
				and url = #{param.url}
			</if>
			<if test="param.res != null and param.res != ''">
				and res = #{param.res}
			</if>
		</where>
	</sql>

	<!-- 添加 附件 -->
	<insert id="addDocument" parameterType="com.jing.system.document.entity.Document">
		INSERT INTO sys_document (did ,remark ,actual ,suffix ,size ,state ,url ,res ) 
		values
		(#{did},#{remark},#{actual},#{suffix},#{size},#{state},#{url},#{res})
	</insert>

	<!-- 修改附件 -->
	<update id="updateDocument" parameterType="com.jing.system.document.entity.Document">
		UPDATE sys_document
		<set> 
			<if test="did != null and did != ''">
				 did = #{did},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="actual != null and actual != ''">
				actual = #{actual},
			</if>
			<if test="suffix != null and suffix != ''">
				suffix = #{suffix},
			</if>
			<if test="size != null and size != ''">
			    size = #{size},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="url != null and url != ''">
				url = #{url},
			</if>
			<if test="res != null and res != ''">
				res = #{res},
			</if>
		</set>
		WHERE	did = #{did}
	</update>
	
	<!-- 根据ID删除附件 -->
	<delete id="deleteDocumentById"  parameterType="String">
		DELETE FROM sys_document WHERE did = #{value}
	</delete>
	
	<!-- 根据RES删除附件 -->
	<delete id="deleteDocumentByRes"  parameterType="String">
		DELETE FROM sys_document WHERE res = #{value}
	</delete>
	
	<!-- 根据ID查询附件 -->
	<select id="getDocumentById" resultMap="DocumentResultMap" parameterType="String">
		SELECT * FROM sys_document WHERE did = #{value}
	</select>
	
	<select id="findDocumentListPage" resultMap="DocumentResultMap">
		SELECT * FROM sys_document
		<include refid="query_tables_Property" />
	</select>
	
	<select id="findDocumentList" resultMap="DocumentResultMap">
		SELECT * FROM sys_document
		<include refid="query_tables_Property" />
	</select>
	
</mapper>