<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.clock.model.dao.ClockOrderMapper">

<!-- Result Map-->
<resultMap id="ClockOrderResultMap" type="com.jing.clock.model.entity.ClockOrder">
	<id column="order_id" property="orderId"/>
	<result column="authorization_id" property="authorizationId"/>
	<result column="store_id" property="storeId"/>
	<result column="types" property="types"/>
	<result column="object_id" property="objectId"/>
	<result column="status" property="status"/>
	<result column="material_id" property="materialId"/>
	<result column="goods_id" property="goodsId"/>
	<result column="goods_time" property="goodsTime"/>
	<result column="technician_id" property="technicianId"/>
	<result column="customer_note" property="customerNote"/>
	<result column="note" property="note"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_clockOrder_item">
	order_id, authorization_id, store_id, types, object_id, status, material_id, goods_id, goods_time, technician_id, customer_note, note, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_clockOrder_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="clockOrder.orderId != null">AND order_id = #{clockOrder.orderId} </if>
		<if test="clockOrder.authorizationId != null">AND authorization_id like concat(#{clockOrder.authorizationId}, '%') </if>
		<if test="clockOrder.storeId != null">AND store_id like concat(#{clockOrder.storeId}, '%') </if>
		<if test="clockOrder.types != null">AND types = #{clockOrder.types} </if>
		<if test="clockOrder.objectId != null">AND object_id like concat(#{clockOrder.objectId}, '%') </if>
		<if test="clockOrder.status != null">AND status = #{clockOrder.status} </if>
		<if test="clockOrder.materialId != null">AND material_id like concat(#{clockOrder.materialId}, '%') </if>
		<if test="clockOrder.goodsId != null">AND goods_id like concat(#{clockOrder.goodsId}, '%') </if>
		<if test="clockOrder.goodsTime != null">AND goods_time = #{clockOrder.goodsTime} </if>
		<if test="clockOrder.technicianId != null">AND technician_id like concat(#{clockOrder.technicianId}, '%') </if>
		<if test="clockOrder.customerNote != null">AND customer_note like concat(#{clockOrder.customerNote}, '%') </if>
		<if test="clockOrder.note != null">AND note like concat(#{clockOrder.note}, '%') </if>
		<if test="clockOrder.createdBy != null">AND created_by like concat(#{clockOrder.createdBy}, '%') </if>
		<if test="clockOrder.updatedBy != null">AND updated_by like concat(#{clockOrder.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 订单 -->
<insert id="addClockOrder" parameterType="com.jing.clock.model.entity.ClockOrder" >
	<selectKey keyProperty="orderId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tc_clock_order 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="orderId != null"> order_id,</if>
		<if test="authorizationId != null"> authorization_id,</if>
		<if test="storeId != null"> store_id,</if>
		<if test="types != null"> types,</if>
		<if test="objectId != null"> object_id,</if>
		<if test="status != null"> status,</if>
		<if test="materialId != null"> material_id,</if>
		<if test="goodsId != null"> goods_id,</if>
		<if test="goodsTime != null"> goods_time,</if>
		<if test="technicianId != null"> technician_id,</if>
		<if test="customerNote != null"> customer_note,</if>
		<if test="note != null"> note,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="orderId != null"> #{orderId},</if>
		<if test="authorizationId != null"> #{authorizationId},</if>
		<if test="storeId != null"> #{storeId},</if>
		<if test="types != null"> #{types},</if>
		<if test="objectId != null"> #{objectId},</if>
		<if test="status != null"> #{status},</if>
		<if test="materialId != null"> #{materialId},</if>
		<if test="goodsId != null"> #{goodsId},</if>
		<if test="goodsTime != null"> #{goodsTime},</if>
		<if test="technicianId != null"> #{technicianId},</if>
		<if test="customerNote != null"> #{customerNote},</if>
		<if test="note != null"> #{note},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 订单 -->  
<update id="modifyClockOrder" parameterType="com.jing.clock.model.entity.ClockOrder" >
  	UPDATE tc_clock_order SET
	<trim suffixOverrides=",">
		<if test="authorizationId != null"> authorization_id = #{authorizationId},</if>
		<if test="storeId != null"> store_id = #{storeId},</if>
		<if test="types != null"> types = #{types},</if>
		<if test="objectId != null"> object_id = #{objectId},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="materialId != null"> material_id = #{materialId},</if>
		<if test="goodsId != null"> goods_id = #{goodsId},</if>
		<if test="goodsTime != null"> goods_time = #{goodsTime},</if>
		<if test="technicianId != null"> technician_id = #{technicianId},</if>
		<if test="customerNote != null"> customer_note = #{customerNote},</if>
		<if test="note != null"> note = #{note},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE order_id = #{orderId}
</update>
 
<!-- 删除 订单 -->
<delete id="dropClockOrderByOrderId" parameterType="java.lang.Integer">
	DELETE FROM tc_clock_order WHERE order_id = #{orderId}
</delete> 

<!-- 根据标识查询 订单 -->
<select id="queryClockOrderByOrderId"  resultMap="ClockOrderResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_clockOrder_item"/>
	FROM tc_clock_order WHERE order_id = #{orderId}
</select>

<!-- 根据属性查询订单 -->
<select id="queryClockOrderByProperty"  resultMap="ClockOrderResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_clockOrder_item"/>
	FROM tc_clock_order 
	<where>
		<include refid="sql_clockOrder_query_nowhere"/>
	</where>
</select>

<!-- 根据订单属性与分页信息分页查询订单信息 -->
<select id="queryClockOrderForPage"  resultMap="ClockOrderResultMap" > 
	SELECT 
	<include refid="sql_clockOrder_item"/>
	FROM tc_clock_order 
	<where>
		<include refid="sql_clockOrder_query_nowhere"/>
	</where>
</select>

</mapper>   
