<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.clock.model.dao.TechnicianSkillMapper">

<!-- Result Map-->
<resultMap id="TechnicianSkillResultMap" type="com.jing.clock.model.entity.TechnicianSkill">
	<id column="ts_id" property="tsId"/>
	<result column="skill_id" property="skillId"/>
	<result column="technician_id" property="technicianId"/>
	<result column="skill_level" property="skillLevel"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<resultMap id="TechnicianSkillBoResultMap" extends="TechnicianSkillResultMap" type="com.jing.clock.service.bo.TechnicianSkillBo">
	<result column="technician_name" property="technicianName"/>
	<result column="skill_Name" property="skillName"/>
</resultMap>

<sql id="sql_technicianSkill_item">
	ts_id, skill_id, technician_id, skill_level, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_technicianSkill_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="technicianSkill.tsId != null">AND ts_id = #{technicianSkill.tsId} </if>
		<if test="technicianSkill.skillId != null">AND skill_id = #{technicianSkill.skillId} </if>
		<if test="technicianSkill.technicianId != null">AND technician_id = #{technicianSkill.technicianId} </if>
		<if test="technicianSkill.skillLevel != null">AND skill_level = #{technicianSkill.skillLevel} </if>
		<if test="technicianSkill.createdBy != null">AND created_by like concat(#{technicianSkill.createdBy}, '%') </if>
		<if test="technicianSkill.updatedBy != null">AND updated_by like concat(#{technicianSkill.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 技师技能 -->
<insert id="addTechnicianSkill" parameterType="com.jing.clock.model.entity.TechnicianSkill" >
	<selectKey keyProperty="tsId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tc_technician_skill 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="tsId != null"> ts_id,</if>
		<if test="skillId != null"> skill_id,</if>
		<if test="technicianId != null"> technician_id,</if>
		<if test="skillLevel != null"> skill_level,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="tsId != null"> #{tsId},</if>
		<if test="skillId != null"> #{skillId},</if>
		<if test="technicianId != null"> #{technicianId},</if>
		<if test="skillLevel != null"> #{skillLevel},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 技师技能 -->  
<update id="modifyTechnicianSkill" parameterType="com.jing.clock.model.entity.TechnicianSkill" >
  	UPDATE tc_technician_skill SET
	<trim suffixOverrides=",">
		<if test="skillId != null"> skill_id = #{skillId},</if>
		<if test="technicianId != null"> technician_id = #{technicianId},</if>
		<if test="skillLevel != null"> skill_level = #{skillLevel},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE ts_id = #{tsId}
</update>
 
<!-- 删除 技师技能 -->
<delete id="dropTechnicianSkillByTsId" parameterType="java.lang.Integer">
	DELETE FROM tc_technician_skill WHERE ts_id = #{tsId}
</delete> 
<delete id="dropTechnicianSkillByTechnicianId" parameterType="java.lang.Integer">
	DELETE FROM tc_technician_skill WHERE technician_id = #{technicianId}
</delete> 

<!-- 根据标识查询 技师技能 -->
<select id="queryTechnicianSkillByTsId"  resultMap="TechnicianSkillResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_technicianSkill_item"/>
	FROM tc_technician_skill WHERE ts_id = #{tsId}
</select>

<!-- 根据属性查询技师技能 -->
<select id="queryTechnicianSkillByProperty"  resultMap="TechnicianSkillResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_technicianSkill_item"/>
	FROM tc_technician_skill 
	<where>
		<include refid="sql_technicianSkill_query_nowhere"/>
	</where>
</select>

<!-- 根据技师技能属性与分页信息分页查询技师技能信息 -->
<select id="queryTechnicianSkillForPage"  resultMap="TechnicianSkillResultMap" > 
	SELECT t.*, l.tech_no as technician_name, s.skill_name from (
		SELECT 
		<include refid="sql_technicianSkill_item"/>
		FROM tc_technician_skill
		<where>
			<include refid="sql_technicianSkill_query_nowhere"/>
		</where>
	) t inner join (
		select * from tc_technician
		<where>
			<if test="technicianSkill.storeId != null">AND store_id = #{technicianSkill.storeId} </if>
			<if test="technicianSkill.empId != null">AND emp_id = #{technicianSkill.empId} </if>
			<if test="technicianSkill.sex != null">AND sex = #{technicianSkill.sex} </if>
			<if test="technicianSkill.techCard != null">AND tech_card = #{technicianSkill.techCard} </if>
			<if test="technicianSkill.techNo != null">AND tech_no like concat('%', #{technicianSkill.techNo}, '%') </if>
			<if test="technicianSkill.techName != null">AND tech_name like concat('%', #{technicianSkill.techName}, '%') </if>
		</where>
	) l	on t.technician_id=l.technician_id
	LEFT OUTER JOIN
	tc_clock_skill s on t.skill_id=s.skill_id	
</select>

<!-- 根据技师标识查询技能 -->
<select id="queryTechnicianSkillByTechnicianId"  resultMap="TechnicianSkillBoResultMap" parameterType="java.lang.Integer">
	SELECT t.*, '' as technician_name, s.skill_name from (
		SELECT 
		<include refid="sql_technicianSkill_item"/>
		FROM tc_technician_skill WHERE technician_id = #{technicianId}
	) t left outer join tc_clock_skill s on t.skill_id=s.skill_id
</select>

</mapper>   
