<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.clock.model.dao.TechnicianShiftMapper">

<!-- Result Map-->
<resultMap id="TechnicianShiftResultMap" type="com.jing.clock.model.entity.TechnicianShift">
	<id column="shift_id" property="shiftId"/>
	<result column="store_id" property="storeId"/>
	<result column="shift_name" property="shiftName"/>
	<result column="in_time" property="inTime"/>
	<result column="out_time" property="outTime"/>
	<result column="status" property="status"/>
	<result column="created_by" property="createdBy"/>
	<result column="created_date" property="createdDate"/>
	<result column="updated_by" property="updatedBy"/>
	<result column="updated_date" property="updatedDate"/>
</resultMap>

<sql id="sql_technicianShift_item">
	shift_id, store_id, shift_name, in_time, out_time, status, created_by, created_date, updated_by, updated_date
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_technicianShift_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="technicianShift.shiftId != null">AND shift_id = #{technicianShift.shiftId} </if>
		<if test="technicianShift.storeId != null">AND store_id like concat(#{technicianShift.storeId}, '%') </if>
		<if test="technicianShift.shiftName != null">AND shift_name like concat(#{technicianShift.shiftName}, '%') </if>
		<if test="technicianShift.status != null">AND status = #{technicianShift.status} </if>
		<if test="technicianShift.createdBy != null">AND created_by like concat(#{technicianShift.createdBy}, '%') </if>
		<if test="technicianShift.updatedBy != null">AND updated_by like concat(#{technicianShift.updatedBy}, '%') </if>
	</trim>
</sql>
   
<!-- 插入 技师班次 -->
<insert id="addTechnicianShift" parameterType="com.jing.clock.model.entity.TechnicianShift" >
	<selectKey keyProperty="shiftId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tc_technician_shift 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="shiftId != null"> shift_id,</if>
		<if test="storeId != null"> store_id,</if>
		<if test="shiftName != null"> shift_name,</if>
		<if test="inTime != null"> in_time,</if>
		<if test="outTime != null"> out_time,</if>
		<if test="status != null"> status,</if>
		<if test="createdBy != null"> created_by,</if>
		created_date,
		<if test="updatedBy != null"> updated_by,</if>
		updated_date,
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="shiftId != null"> #{shiftId},</if>
		<if test="storeId != null"> #{storeId},</if>
		<if test="shiftName != null"> #{shiftName},</if>
		<if test="inTime != null"> #{inTime},</if>
		<if test="outTime != null"> #{outTime},</if>
		<if test="status != null"> #{status},</if>
		<if test="createdBy != null"> #{createdBy},</if>
		now(),
		<if test="updatedBy != null"> #{updatedBy},</if>
		now(),
	</trim>
</insert>

<!-- 根据标识，修改 技师班次 -->  
<update id="modifyTechnicianShift" parameterType="com.jing.clock.model.entity.TechnicianShift" >
  	UPDATE tc_technician_shift SET
	<trim suffixOverrides=",">
		<if test="storeId != null"> store_id = #{storeId},</if>
		<if test="shiftName != null"> shift_name = #{shiftName},</if>
		<if test="inTime != null"> in_time = #{inTime},</if>
		<if test="outTime != null"> out_time = #{outTime},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="createdBy != null"> created_by = #{createdBy},</if>
		<if test="updatedBy != null"> updated_by = #{updatedBy},</if>
		updated_date = now(),
	</trim>
	WHERE shift_id = #{shiftId}
</update>
 
<!-- 删除 技师班次 -->
<delete id="dropTechnicianShiftByShiftId" parameterType="java.lang.Integer">
	DELETE FROM tc_technician_shift WHERE shift_id = #{shiftId}
</delete> 

<!-- 根据标识查询 技师班次 -->
<select id="queryTechnicianShiftByShiftId"  resultMap="TechnicianShiftResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_technicianShift_item"/>
	FROM tc_technician_shift WHERE shift_id = #{shiftId}
</select>

<!-- 根据属性查询技师班次 -->
<select id="queryTechnicianShiftByProperty"  resultMap="TechnicianShiftResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_technicianShift_item"/>
	FROM tc_technician_shift 
	<where>
		<include refid="sql_technicianShift_query_nowhere"/>
	</where>
</select>

<!-- 根据技师班次属性与分页信息分页查询技师班次信息 -->
<select id="queryTechnicianShiftForPage"  resultMap="TechnicianShiftResultMap" > 
	SELECT 
	<include refid="sql_technicianShift_item"/>
	FROM tc_technician_shift 
	<where>
		<include refid="sql_technicianShift_query_nowhere"/>
	</where>
</select>

</mapper>   
