<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jing.system.permission.dao.UserRoleDao">

	<!-- Result Map -->
	<resultMap id="UserRoleResultMap" type="com.jing.system.permission.entity.UserRole">
		<id column="userId" property="userId" />
		<result column="roleId" property="roleId" />
		<result column="deptCode" property="deptCode" />
	</resultMap>
	
	<sql id="query_tables_Property" >
		<where>
			<if test="param.userId != null and param.userId != ''">
				and userId = #{param.userId}
			</if>
			<if test="param.roleId != null and param.roleId != ''">
				and roleId = #{param.roleId}
			</if>
			<if test="param.deptCode != null and param.deptCode != ''">
				and deptCode = #{param.deptCode}
			</if>
		</where>
	</sql>

	<!-- 添加 用户角色 -->
	<insert id="addUserRole" parameterType="com.jing.system.permission.entity.UserRole">
		<selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO sys_user_role (userId ,roleId ,deptCode ) 
		values
		(#{userId},#{roleId},#{deptCode})
	</insert>

	<!-- 修改用户角色 -->
	<update id="updateUserRole" parameterType="com.jing.system.permission.entity.UserRole">
		UPDATE sys_user_role
		<set> 
			<if test="roleId != null and roleId != ''" >
				roleId = #{roleId},
			</if>
			<if test="deptCode != null and deptCode != ''" >
				deptCode = #{deptCode},
			</if>
		</set>
		WHERE	userId = #{userId}
	</update>
	
	<!-- 根据ID删除用户角色 -->
	<delete id="deleteUserRoleById"  parameterType="Integer">
		DELETE FROM sys_user_role WHERE userId = #{value}
	</delete>
	
	<!-- 根据ID查询用户角色 -->
	<select id="getUserRoleById" resultMap="UserRoleResultMap" parameterType="Integer">
		SELECT * FROM sys_user_role WHERE userId = #{value}
	</select>
	
	<select id="findUserRoleListPage" resultMap="UserRoleResultMap">
		SELECT * FROM sys_user_role
		<include refid="query_tables_Property" />
	</select>
	
	<select id="findUserRoleList" resultMap="UserRoleResultMap">
		SELECT * FROM sys_user_role
		<include refid="query_tables_Property" />
	</select>
	<delete id="deleteUserRoleByUserIdAndRoleId">
		DELETE FROM sys_user_role WHERE userId = #{userId} and roleId=#{roleId} and deptCode=#{deptCode}
	</delete>
</mapper>